<div
	*ngIf="opened$ | async"
	stop-propagation
	class="ml-auto h-full w-full md:w-1/4"
	style="min-width: 500px"
>
	<div
		class="px-10 py-5 flex flex-col items-center justify-center bg-zinc-200/50 backdrop-blur-md overflow-hidden"
		style="height: calc(100vh)"
	>
		<div @fadeInBottom class="container-time-slot w-full overflow-x-hidden">
			<div
				stop-propagation
				class="w-full flex px-5 py-5 items-center"
				style="background: #f7f8fa"
			>
				<div class="font-extrabold text-xl accent-color">
					Select time slot
				</div>
			</div>

			<div
				style="height: 520px"
				class="overflow-y-auto overflow-x-hidden p-5"
			>
				<div class="font-bold text-gray-600 mb-10">
					Selected Date -
					{{ date$ | async | date: 'MMMM dd, yyyy - EEEE' }}
				</div>

				<div
					@slideInBottom
					*ngIf="!isActive"
					class="border border-gray-200 text-gray-500 bg-gray-50 px-3 py-5 rounded-md"
				>
					{{ (doctor$ | async)?.name }} is not available on
					{{ date$ | async | date: 'EEEE' }}s
				</div>

				<div
					*ngIf="isActive"
					class="grid grid-cols-1 md:grid-cols-2 gap-5"
				>
					<div
						*ngFor="
							let time of times;
							trackBy: identity;
							let i = index
						"
					>
						<div
							[ngClass]="{
								'bg-gray-300 pointer-events-none text-white':
									i === 2,
								'text-gray-500': i !== 2
							}"
							role="button"
							class="w-full flex items-center justify-center rounded-xl text-base font-norm border border-gray-200 hover:bg-emerald-50 hover:border-emerald-500 hover:text-emerald-500"
							style="height: 50px"
						>
							{{
								time.start_time | toTime | toTwelve | uppercase
							}}
							-
						</div>
					</div>
				</div>
			</div>

			<div class="footer w-full items-center flex">
				<button
					(click)="opened$.next(false)"
					class="ml-auto hover:bg-emerald-50 rounded-xl px-7 py-2.5 font-bold border-2 border-emerald-500 text-emerald-500 mr-3"
				>
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>
