<div class="grid grid-cols-2 p-5 gap-x-10">
	<div>
		<button
			matRipple
			routerLink="/about-us"
			matRippleColor="rgba(250, 250, 250,.5)"
			class="block px-2 mb-3 text-lg text-left rounded-full"
		>
			Company
		</button>

		<button
			matRipple
			matRippleColor="rgba(250, 250, 250,.5)"
			class="block px-2 mb-3 text-lg text-left rounded-full"
		>
			<a href="/home#features">Features</a>
		</button>

		<button
			matRipple
			matRippleColor="rgba(250, 250, 250,.5)"
			class="block px-2 mb-3 text-lg text-left rounded-full"
		>
			<a href="/home#subscriptions">Subscriptions</a>
		</button>

		<button
			matRipple
			matRippleColor="rgba(250, 250, 250,.5)"
			class="block px-2 mb-3 text-lg text-left rounded-full"
		>
			<a routerLink="/pages/under-maintenance">Careers</a>
		</button>

		<button
			matRipple
			matRippleColor="rgba(250, 250, 250,.5)"
			routerLink="/terms-and-conditions"
			class="block px-2 mb-3 text-lg text-left rounded-full"
		>
			Terms & Conditions
		</button>

		<button
			matRipple
			routerLink="/privacy-policy"
			matRippleColor="rgba(250, 250, 250,.5)"
			class="block px-2 mb-3 text-lg text-left rounded-full"
		>
			Privacy Policy
		</button>
	</div>

	<div>
		<div class="text-lg">Contact Us</div>

		<div role="button" class="mb-3 text-lg rounded-full">
			<a
				class="mb-3 text-lg text-emerald-200"
				[href]="'https//:wa.me/' + phone"
				target="_blank"
			>
				{{ phone }}</a
			>
		</div>

		<div class="text-lg">Email Us</div>

		<div role="button" class="mb-3 text-lg rounded-full">
			<a class="text-emerald-200" [href]="'mailto:' + email">{{
				email
			}}</a>
		</div>

		<div class="text-lg">Find us on</div>

		<div class="grid grid-cols-4 py-2 gap-x-2">
			<button
				class="flex items-center justify-center pb-2 text-center rounded-full"
				matRipple
				matRippleColor="rgba(250, 250, 250,.5)"
			>
				<i class="text-2xl bi bi-instagram text-emerald-200"></i>
			</button>

			<button
				class="flex items-center justify-center pb-2 text-center rounded-full"
				matRipple
				matRippleColor="rgba(250, 250, 250,.5)"
			>
				<i class="text-2xl bi bi-facebook text-emerald-200"></i>
			</button>

			<a
				target="_blank"
				class="flex items-center justify-center pb-2 text-center rounded-full"
				[href]="'https//:wa.me/' + phone"
				matRipple
				matRippleColor="rgba(250, 250, 250,.5)"
			>
				<i class="text-2xl bi bi-whatsapp text-emerald-200"></i>
			</a>

			<button
				class="flex items-center justify-center pb-2 text-center rounded-full"
				matRipple
				matRippleColor="rgba(250, 250, 250,.5)"
			>
				<i class="text-2xl bi bi-youtube text-emerald-200"></i>
			</button>
		</div>
	</div>
</div>
