<div
	role="button"
	class="rounded-3xl shadow-xl shadow-emerald-200/10 border-2 border-emerald-500 bg-white p-10 flex-col flex justify-center items-center w-full hover:bg-gradient-to-b from-teal-50 to-teal-200/80"
>
	<div
		style="width: 218px"
		class="bg-emerald-500 rounded-full py-3 text-2xl font-bold text-center text-white -mt-16"
	>
		{{ subscription.type }}
	</div>

	<div class="my-5 text-lg">( 60 AED Per User)</div>

	<div class="accent-color text-7xl font-extrabold">
		{{ subscription.price | number }} AED
	</div>

	<div class="accent-color -mt-2 font-bold text-lg">
		/ {{ interval | titlecase }}
	</div>

	<div class="text-left my-5 accent-color self-start text-lg font-bold">
		Features
	</div>

	<ul>
		<li
			class="text-gray flex items-center py-2"
			*ngFor="let item of subscription.features; trackBy: identity"
		>
			<mat-icon class="mr-3 text-emerald-500" svgIcon="check"></mat-icon>

			{{ item }}
		</li>
	</ul>

	<div class="flex items-center mt-10 justify-center">
		<button
			(click)="subscribe()"
			style="width: 189px; background-color: #0a2440"
			class="tracking-wide text-white py-3 text-xl text-semibold hover:bg-blacky-3 rounded-full"
		>
			Subscribe
		</button>
	</div>
</div>
