<fuse-loading-bar></fuse-loading-bar>

<div
	class="relative flex items-center w-full px-4 md:px-6 z-49 bg-card print:hidden py-2 md:py-0 border-b border-gray-200"
>
	<img
		class="h-20 max-w-50 mr-12 hidden md:block"
		src=".../../../../../../../assets/app/logo.svg"
		alt=""
	/>

	<button mat-icon-button (click)="toggleNavigation('mainNavigation')">
		<mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
	</button>

	<div class="flex items-center pl-2 ml-auto">
		<button
			(click)="opened$.next(true)"
			mat-button
			class="bg-emerald-500 text-lg text-white rounded-xl shadow-md shadow-emerald-500/20 px-4 py-5 font-normal hover:bg-emerald-600/90 mx-8 items-center justify-center hidden md:flex"
		>
			<mat-icon class="text-white mr-2" svgIcon="feather:plus"></mat-icon>

			Appointment
		</button>

		<div matTooltip="Aster's Notification">
			<notifications></notifications>
		</div>

		<div mat-button matTooltip="See More" class="flex items-center mx-8">
			<user [showAvatar]="true"></user>
		</div>
	</div>
</div>

<div class="flex flex-wrap flex-auto w-full min-w-0">
	<fuse-vertical-navigation
		class="bg-white print:hidden pt-20"
		[mode]="isScreenSmall ? 'over' : 'side'"
		[name]="'mainNavigation'"
		[navigation]="navigation.default"
		[opened]="!isScreenSmall"
	>
		<ng-container fuseVerticalNavigationContentFooter>
			<div
				class="flex items-center justify-center flex-col px-5 absolute bottom-50"
			>
				<img
					class="w-full"
					src="../../../../../assets/app/sidebar/clinic.png"
				/>

				<div class="italic text-gray-400">Powered by mawedy</div>
			</div>
		</ng-container>
	</fuse-vertical-navigation>

	<div
		class="flex flex-col flex-auto overflow-y-auto"
		style="
			background: #f5f6fa;
			max-height: 100vh;
			width: calc(100vw - 380px) !important;
		"
	>
		<router-outlet *ngIf="true"></router-outlet>
	</div>
</div>
