<div *ngIf="true" @slideInTop class="w-full">
	<app-toolbar class="w-full" [toolbar]="patientsToolbar"></app-toolbar>
</div>

<ng-template #patientsToolbar>
	<patient-details-toolbar
		(onFilter)="filter()"
		(onSearch)="filter()"
		class="w-full"
	></patient-details-toolbar>
</ng-template>

<div class="md:px-10 px-0 w-full">
	<div
		style="height: 80vh"
		class="md:rounded-xl bg-white px-5 pr-0 w-full overflow-y-auto md:overflow-x-hidden"
	>
		<div
			class="flex items-center font-semibold text-2xl ml-0 m-3 sticky top-0 w-full bg-white z-40 pt-2"
		>
			<button
				(click)="back()"
				mat-icon-button
				matTooltip="Back"
				class="mr-2"
				mat-icon-button
			>
				<mat-icon
					class="accent-color icon-size-5"
					svgIcon="heroicons_outline:arrow-left"
				></mat-icon>
			</button>

			Patient Information
		</div>

		<patient-details-information></patient-details-information>

		<patient-details-booking-list></patient-details-booking-list>
	</div>
</div>
