<div *ngIf="true" @slideInTop class="w-full">
	<app-toolbar class="w-full" [toolbar]="patientsToolbar"></app-toolbar>
</div>

<ng-template #patientsToolbar>
	<patient-details-toolbar
		(onFilter)="filter()"
		(onSearch)="filter()"
		class="w-full"
	></patient-details-toolbar>
</ng-template>

<div class="md:px-10 px-0 w-full">
	<div
		style="min-height: 80vh"
		class="md:rounded-xl bg-white px-5 pr-0 w-full pt-2"
	>
		<patient-details-information></patient-details-information>

		<patient-details-booking-list></patient-details-booking-list>
	</div>
</div>
