<div
	[@listAnimation]="timeslots.length"
	class="grid md:grid-cols-2 grid-cols-1 items-center"
>
	<div class="mb-2 font-semibold text-gray-400 text-lg">Timings</div>

	<div class="mb-2 font-semibold text-gray-400 text-lg text-center">
		Open - Close
	</div>

	<div
		*ngFor="let timeslot of timeslots; trackBy: trackByFn"
		class="col-span-2 mb-2 grid md:grid-cols-2 items-center"
	>
		<div class="mb-2 font-semibold accent-color">
			{{ timeslot.day | titlecase }}
		</div>

		<clinic-timing-input
			[timeslot]="timeslot"
			class="flex items-center justify-center"
		></clinic-timing-input>
	</div>
</div>
