<button
	[matMenuTriggerFor]="schedule"
	[ngClass]="{
		'bg-gray-400 text-white pointer-events-none': disabled,
		'bg-white accent-color': !disabled
	}"
	class="p-1 border border-gray-200 px-2 rounded-md accent-color hover:bg-gray-50 flex items-center"
>
	{{ selectedTime.hour | toTime }}:{{ selectedTime.minutes | toTime }}
	{{ selectedTime.meridian }}

	<div class="flex flex-col">
		<mat-icon
			class="text-gray-400 mb-0.5"
			svgIcon="mat_outline:arrow_drop_up"
		></mat-icon>

		<mat-icon
			class="text-gray-400 -mt-5"
			svgIcon="mat_outline:arrow_drop_down"
		></mat-icon>
	</div>
</button>

<mat-menu
	[xPosition]="'before'"
	style="max-height: 40vh !important; max-width: 300px"
	#schedule="matMenu"
>
	<div
		class="grid grid-cols-3 w-full gapx1"
		style="max-height: 40vh !important; max-width: 300px"
	>
		<div class="flex flex-col col-span-1">
			<div
				matRipple
				matRippleColor="rgba(11, 169, 118,.1)"
				*ngFor="let item of ['AM', 'PM']; trackBy: identity"
				(click)="selectedTime.meridian = item; setTime()"
				[ngClass]="{
					'text-white pointer-events-none bg-emerald-500':
						selectedTime.meridian === item
				}"
				stop-propagation
				role="button"
				class="flex items-center justify-center p-3 hover:bg-gray-200"
			>
				{{ item }}
			</div>
		</div>

		<div class="flex flex-col col-span-1 overflow-y-auto">
			<div
				matRipple
				matRippleColor="rgba(11, 169, 118,.1)"
				(click)="selectedTime.hour = item; setTime()"
				[ngClass]="{
					'text-white pointer-events-none bg-emerald-500':
						selectedTime.hour === item
				}"
				stop-propagation
				role="button"
				class="flex items-center justify-center p-3 hover:bg-gray-200"
				*ngFor="let item of time.hours; trackBy: identity"
			>
				{{ item | toTime }}
			</div>
		</div>

		<div class="flex flex-col col-span-1 overflow-y-auto">
			<div
				matRipple
				matRippleColor="rgba(11, 169, 118,.1)"
				(click)="selectedTime.minutes = item; setTime()"
				[ngClass]="{
					'text-white pointer-events-none bg-emerald-500':
						selectedTime.minutes === item
				}"
				stop-propagation
				role="button"
				class="flex items-center justify-center p-3 hover:bg-gray-200"
				*ngFor="let item of time.minutes; trackBy: identity"
			>
				{{ item | toTime }}
			</div>
		</div>
	</div>
</mat-menu>
