<div
	role="button"
	[matMenuTriggerFor]="promotionsFilter"
	style="width: 219px"
	class="ml-5 flex items-center py-1.5 px-4 rounded-md border border-gray-300/80 cursor-pointer hover:bg-gray-50"
>
	<input
		role="button"
		type="search"
		class="w-full pointer-events-none"
		placeholder="Filter"
	/>

	<mat-icon class="text-gray-400 ml-auto" svgIcon="feather:filter"></mat-icon>
</div>

<mat-menu [xPosition]="'before'" #promotionsFilter="matMenu" class="rounded-md">
	<div (click)="$event.stopPropagation()" class="flex-col px-5 mt-2">
		<div class="mb-1 font-bold text-gray-500 text-md">From</div>

		<input
			type="date"
			class="py-3 pl-4 pr-20 rounded-md border-gray-300/80 border w-full focus:border-emerald-500 focus:border-2 focus:shadow-md focus:shadow-emerald-500/20"
		/>
	</div>

	<div (click)="$event.stopPropagation()" class="flex-col px-5 mt-2">
		<div class="mb-1 font-bold text-gray-500 text-md">Until</div>

		<input
			type="date"
			class="py-3 pl-4 pr-20 rounded-md border-gray-300/80 border w-full focus:border-emerald-500 focus:border-2 focus:shadow-md focus:shadow-emerald-500/20"
		/>
	</div>

	<div class="flex-col px-5 mt-5 mb-5">
		<button
			mat-menu-item
			class="flex bg-emerald-300 border-emerald-900 border text-emerald-900 rounded-md text-center items-center justify-center"
		>
			<span>Apply Filter</span>
		</button>
	</div>
</mat-menu>
