<ng-container *ngIf="breakpoint$ | async as breakpoint">
	<div
		[ngClass]="{ 'mt-20': breakpoint === 'tablet' }"
		class="flex flex-col items-center justify-center w-full md:mt-10"
	>
		<div
			class="max-w-screen-sm px-5 py-10 bg-white rounded-xl drop-shadow-lg"
		>
			<div class="text-2xl font-black text-emerald-500">
				Clinic Information
			</div>

			<form [formGroup]="form" class="mt-8 md:w-full">
				<mat-form-field class="w-full">
					<mat-label>Clinic Name</mat-label>
					<input #input matInput formControlName="name" />
					<mat-error>Clinic Name is required</mat-error>
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>Clinic Address</mat-label>
					<input matInput formControlName="line1" />
					<mat-error>Clinic Address is required</mat-error>
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>Email Address</mat-label>
					<input matInput formControlName="email" />
					<mat-error>Invalid Email Format</mat-error>
				</mat-form-field>

				<mat-form-field class="w-full">
					<mat-label>Password </mat-label>
					<input
						matInput
						type="password"
						formControlName="password"
						#passwordField
					/>

					<button
						mat-icon-button
						type="button"
						(click)="
							passwordField.type === 'password'
								? (passwordField.type = 'text')
								: (passwordField.type = 'password')
						"
						matSuffix
					>
						<mat-icon
							class="text-gray-400 icon-size-5"
							*ngIf="passwordField.type === 'password'"
							[svgIcon]="'heroicons_solid:eye'"
						></mat-icon>
						<mat-icon
							class="text-gray-400 icon-size-5"
							*ngIf="passwordField.type === 'text'"
							[svgIcon]="'heroicons_solid:eye-off'"
						></mat-icon>
					</button>
					<mat-error>Password is required.</mat-error>
				</mat-form-field>

				<div class="mb-5">
					<div class="mb-1 text-base font-bold text-gray-500">
						Mobile Number*
					</div>

					<div class="">
						<input
							type="hidden"
							formControlName="phone_number_one"
						/>

						<input
							type="hidden"
							formControlName="phone_number_one_country_code"
						/>

						<mobile-number-form
							(onMobileNumberChange)="
								handleMobileNumberChange($event)
							"
							[phoneNumber]="form.value.phone_number_one"
							[phoneErrors]="phoneErrors"
							[bordered]="true"
							[rounded]="true"
							class="w-full"
						></mobile-number-form>
					</div>
				</div>

				<input
					type="file"
					#tradeLicense
					class="hidden"
					accept="image/*"
					(change)="setTradeLicense($event)"
				/>

				<div class="flex items-center mb-5">
					<div class="mb-1 text-base font-bold text-gray-500">
						Trade License No.
					</div>

					<button
						(click)="tradeLicense.click()"
						class="px-10 py-3 ml-auto text-white border rounded-lg bg-emerald-500 hover:bg-emerald-600"
					>
						{{ filename === '' ? 'Upload Docs' : 'Change Docs' }}
					</button>
				</div>

				<div class="mt-2 text-sky-500">{{ filename }}</div>

				<div class="flex w-full mt-5">
					<button
						@fadeOutBottom
						@slideInRight
						[disabled]="
							!form.valid || filename === '' || isProcessing
						"
						[ngClass]="{
							'bg-sky-500 hover:bg-sky-600':
								form.valid && filename !== '' && !isProcessing,
							'bg-gray-400 pointer-events-none':
								!form.valid || filename === '' || isProcessing
						}"
						*ngIf="step !== 'two'"
						(click)="
							onNext.emit({
								form: form,
								trade_license_photo: file
							})
						"
						class="flex items-center justify-center w-full px-10 py-4 mt-10 ml-auto text-white rounded-lg"
					>
						<spinner *ngIf="isProcessing"></spinner>

						<div class="text-white" *ngIf="!isProcessing">
							Purchase Now
						</div>
					</button>
				</div>
			</form>
		</div>
	</div>
</ng-container>
