<div class="md:px-10 px-0 w-full">
	<div style="height: 80vh" class="md:rounded-xl bg-white px-5 pr-0 w-full">
		<div class="flex flex-col flex-auto overflow-x-auto h-full bg-white">
			<table class="min-w-240 overflow-y-visible mt-4">
				<thead style="height: 42px" class="sticky top-0 bg-white pt-4">
					<tr class="text-gray-400 border-b border-b-gray-100">
						<th>Name</th>
						<th>Department</th>
						<th class="text-center">Experience</th>
						<th class="text-center">Phone</th>
						<th class="text-center">Availability</th>
						<th class="text-center"></th>
					</tr>
				</thead>
				<tbody [@listAnimation]="15">
					<tr
						style="height: 60px"
						class="accent-color font-semibold border-b border-b-gray-100"
						*ngFor="
							let item of [
								1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6,
								7
							];
							trackBy: identity
						"
					>
						<td>Dr. Hanadi Yassin</td>
						<td>Cardiology</td>
						<td class="text-center">25 Years</td>
						<td class="text-center">+98-7862-43453</td>
						<td
							role="button"
							class="underline hover:text-emerald-500 text-center"
						>
							View
						</td>
						<td class="text-center">
							<button
								class="py-2 px-3 font-semibold rounded-md border-2 border-gray-200 hover:border-emerald-500 hover:bg-emerald-50 hover:text-emerald-500"
							>
								Manage
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
