<div class="px-5">
	<div class="flex items-center font-semibold text-2xl accent-color">
		Booking List ({{ appointments.length }})
	</div>

	<div
		class="flex flex-col flex-auto overflow-x-auto md:overflow-x-hidden h-full bg-white border-t border-gray-200/80 mt-3"
	>
		<table class="min-w-240 overflow-y-visible md:overflow-x-hidden">
			<thead style="height: 42px" class="sticky top-0 bg-white pt-4">
				<tr class="text-gray-400 border-b border-b-gray-100">
					<th>Booking No.</th>
					<th>Doctor</th>
					<th>Department</th>
					<th>Date</th>
					<th>Upload Result</th>
					<th class="text-center">Follow Up Check Up</th>
				</tr>
			</thead>
			<tbody [@listAnimation]="appointments.length">
				<tr
					style="height: 48px"
					class="text-gray-500 font-semibold border-b border-b-gray-100"
					*ngFor="let appointment of appointments; trackBy: identity"
				>
					<td>
						{{ appointment.type_code
						}}{{ appointment.id | uppercase }}
					</td>
					<td>{{ appointment.doctor.name }}</td>
					<td>{{ appointment.doctor.profession }}</td>
					<td>
						{{ appointment.date | date: 'EEE, dd MMM YYY' }}
						{{ appointment.start_time | toTwelve }} -
						{{ appointment.end_time | toTwelve }}
					</td>

					<td>
						<button
							(click)="resultFile.click()"
							*ngIf="appointment.result === null"
							mat-button
							class="text-sky-500"
						>
							Upload Result

							<mat-icon
								class="text-sky-500 icon-size-4 ml-2"
								svgIcon="feather:upload"
							></mat-icon>
						</button>

						<input
							type="file"
							#resultFile
							class="hidden"
							(change)="readFile($event, appointment)"
						/>

						<div *ngIf="appointment.result !== null">
							{{ appointment.result.name }}
						</div>
					</td>

					<td class="text-center">
						<div class="flex items-center">
							<mat-checkbox
								(change)="followUp(appointment)"
								class="mx-auto"
							></mat-checkbox>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
