<nav
	class="flex items-center justify-center h-[69px] fixed z-50 w-full bg-white"
>
	<div class="flex items-center justify-center w-full max-w-screen-lg px-10">
		<a @fadeInBottom routerLink="/">
			<img class="h-15 max-w-50" src="/assets/app/logo.svg" alt="" />
		</a>

		<ul @slideInRight class="flex ml-auto">
			<li
				*ngFor="let nav of navigation; trackBy: trackByFn"
				[class.hidden]="nav.id === 2 && (hasLoggedIn$ | async)"
				[ngClass]="{
					'bg-emerald-500 text-white hover:bg-emerald-600 hover:text-white shadow-md shadow-emerald-400/50 mx-2':
						nav.id === 4,
					'hover:bg-emerald-100  hover:text-emerald-500 ':
						nav.name !== 'AR' && nav.id !== 4,
					'text-black': nav.id !== 4
				}"
				(click)="nav.id === 4 ? toDashboard() : null"
				[routerLink]="'/' + nav.link"
				role="button"
				class="flex items-center px-5 py-2 rounded-lg"
			>
				{{
					(!showSignInPanel && nav.id === 4) ||
					isInSubscriptionSuccess
						? 'Dashboard'
						: nav.name
				}}

				<mat-icon
					*ngIf="
						(!showSignInPanel && nav.id === 4) ||
						isInSubscriptionSuccess
					"
					class="ml-auto text-white icon-size-4"
					[svgIcon]="'feather:chevron-right'"
				></mat-icon>
			</li>

			<!-- <li>
				<img
					class="translate-y-2 h-7"
					src="../../../../../assets/app/uae.icon.png"
					alt="UAE Icon"
				/>
			</li> -->
		</ul>
	</div>
</nav>
