<nav
	[ngClass]="{
		'bg-transparent': isInPartnerWithUs,
		'bg-white': !isInPartnerWithUs
	}"
	class="flex items-center justify-center fixed z-50 w-full"
>
	<div class="w-full max-w-screen-xl flex items-center justify-center">
		<a @fadeInBottom routerLink="/">
			<img class="h-28 max-w-50" src="/assets/app/logo.svg" alt="" />
		</a>

		<ul @slideInRight class="ml-auto flex">
			<li
				*ngFor="let nav of navigation"
				[class.hidden]="nav.id === 2 && (hasLoggedIn$ | async)"
				[ngClass]="{
					'bg-emerald-500 text-white hover:bg-emerald-600 hover:text-white shadow-md shadow-emerald-400/50 mx-2':
						nav.id === 4,
					'hover:bg-emerald-100  hover:text-emerald-500 ':
						nav.name !== 'AR' && nav.id !== 4,
					'text-emerald-500': nav.id !== 4
				}"
				(click)="nav.id === 4 ? toDashboard() : null"
				[routerLink]="nav.link"
				role="button"
				class="px-7 py-3 rounded-lg text-lg flex items-center"
			>
				{{
					(!showSignInPanel && nav.id === 4) ||
					isInSubscriptionSuccess
						? 'Dashboard'
						: nav.name
				}}

				<mat-icon
					*ngIf="
						(!showSignInPanel && nav.id === 4) ||
						isInSubscriptionSuccess
					"
					class="ml-auto icon-size-4 text-white"
					[svgIcon]="'feather:chevron-right'"
				></mat-icon>
			</li>

			<!-- <li>
				<img
					class="h-7 translate-y-2"
					src="../../../../../assets/app/uae.icon.png"
					alt="UAE Icon"
				/>
			</li> -->
		</ul>
	</div>
</nav>
