<div class="w-full md:min-h-screen md:flex flex-col py-20 md:py-40">
	<div
		class="min-w-screen max-w-screen-xl relative z-10 text-center mb-30 md:mb-80 px-10"
	>
		<div class="font-bold text-2xl md:text-6xl accent-color mb-5">
			Sit back & relax!
		</div>

		<div class="font-bold text-md md:text-3xl accent-color mb-2">
			We receive your application and our team is reviewing your
			registration form.
		</div>

		<div class="text-xs md:text-xl text-gray-700 font-light bg-opacity-90">
			Your password will be sent on your email that <br />
			you have used in the registration form.
		</div>
	</div>

	<img
		src="../../.././../../assets/app/pages/sit-back-relax.png"
		class="w-screen scale-150 md:scale-100 max-w-screen-xl h-full object-contain md:absolute top-0 z-0 self-center"
		alt="sit-back-relax"
	/>
</div>

<sit-back-relax-section2></sit-back-relax-section2>

<footer></footer>
