<div class="w-full min-h-screen flex flex-col py-40">
	<img
		src="../../.././../../assets/app/pages/sit-back-relax.png"
		class="w-screen max-w-screen-xl h-full object-contain absolute top-0 z-0 self-center"
		alt="sit-back-relax"
	/>
	<div class="min-w-screen max-w-screen-xl relative z-10 text-center mb-80">
		<div class="font-bold text-6xl accent-color mb-2">
			Sit Back and Relax
		</div>

		<div class="font-bold text-3xl accent-color mb-2">
			We receive your application... please wait our team to review your
			registration form.
		</div>

		<div class="font-bold text-xl accent-color bg-opacity-90">
			Your password will be sent on your email that you have used in the
			registration form
		</div>
	</div>
</div>

<sit-back-relax-section2></sit-back-relax-section2>

<footer></footer>
