<form
	@fadeInBottom
	[ngClass]="{ 'pointer-events-none opacity-87': isProcessing }"
	[formGroup]="form"
	class="md:rounded-lg pt-10 pb-20 flex flex-col justify-center items-center bg-white w-full px-5 md:px-10 drop--custom"
>
	<img
		class="h-36 max-w-50 mb-5"
		src="/assets/app/logo.svg"
		alt="Mawedy Logo"
	/>

	<input
		#input
		type="email"
		placeholder="Email"
		formControlName="email"
		[ngClass]="{
			'text-red-500': errors.email && !isProcessing,
			'border-red-500/95':
				!form.get('email')?.valid &&
				form.get('email')?.touched &&
				!isProcessing
		}"
		class="py-4 bg-white px-5 border border-gray-300/80 rounded-md -md w-full focus:border-teal-500 mt-5"
	/>

	<div
		*ngIf="
			!form.get('email')?.valid &&
			form.get('email')?.touched &&
			!isProcessing
		"
		class="text-sm text-rose-500 text-left self-baseline"
	>
		Invalid email format.
	</div>

	<input
		type="password"
		placeholder="Password"
		formControlName="password"
		[ngClass]="{
			'text-red-500': errors.password && !isProcessing,
			'border-red-500/95':
				!form.get('password')?.valid &&
				form.get('password')?.touched &&
				!isProcessing
		}"
		class="py-4 bg-white px-5 border border-gray-300/80 rounded-md -md w-full focus:border-teal-500 mt-5"
	/>

	<div
		*ngIf="
			!form.get('password')?.valid &&
			form.get('password')?.touched &&
			!isProcessing
		"
		class="text-sm text-rose-500 text-left self-baseline"
	>
		Password is required.
	</div>

	<a
		routerLink="/auth"
		role="button"
		class="text-right text-gray-400 mt-5 self-end hover:underline"
		>Forgot Password ?</a
	>

	<button
		(click)="login()"
		[disabled]="!form.valid || isProcessing"
		[ngClass]="{
			'bg-emerald-500 hover:bg-emerald-600': form.valid && !isProcessing,
			'bg-gray-400 pointer-events-none': !form.valid || isProcessing
		}"
		class="text-white py-3 px-10 text-xl -lg rounded-md flex items-center mt-10 w-full justify-center"
	>
		<spinner *ngIf="isProcessing"></spinner>

		<div class="text-white" *ngIf="!isProcessing">Sign In</div>
	</button>
</form>
