<form
	@zoomIn
	[formGroup]="form"
	[ngClass]="{ 'pointer-events-none opacity-40': isProcessing }"
	class="flex flex-col items-center justify-center w-full px-5 py-10 bg-white md:rounded-lg drop-shadow-sm mt-[69px] max-w-screen-sm ml-auto"
>
	<img
		class="mb-5 h-36 max-w-50"
		src="/assets/app/logo.svg"
		alt="Mawedy Logo"
	/>

	<mat-form-field class="w-full">
		<mat-icon
			matPrefix
			class="icon-size-5 text-emerald-500/40"
			[svgIcon]="'alternate_email'"
		></mat-icon>

		<input
			#input
			matInput
			type="email"
			placeholder="Email"
			formControlName="email"
		/>

		<mat-error>Invalid email format.</mat-error>
	</mat-form-field>

	<mat-form-field class="w-full">
		<mat-icon
			matPrefix
			class="icon-size-5 text-emerald-500/40"
			[svgIcon]="'lock_open'"
		></mat-icon>

		<input
			matInput
			type="password"
			placeholder="Password"
			formControlName="password"
			#passwordField
		/>

		<button
			mat-icon-button
			type="button"
			(click)="
				passwordField.type === 'password'
					? (passwordField.type = 'text')
					: (passwordField.type = 'password')
			"
			matSuffix
		>
			<mat-icon
				class="icon-size-5 text-gray-400"
				*ngIf="passwordField.type === 'password'"
				[svgIcon]="'heroicons_solid:eye'"
			></mat-icon>
			<mat-icon
				class="icon-size-5 text-gray-400"
				*ngIf="passwordField.type === 'text'"
				[svgIcon]="'heroicons_solid:eye-off'"
			></mat-icon>
		</button>
		<mat-error>Password is required.</mat-error>
	</mat-form-field>

	<a
		role="button"
		routerLink="/auth"
		class="self-end text-right accent-color hover:underline"
		>Forgot Password ?</a
	>

	<button
		(click)="login()"
		[disabled]="!form.valid || isProcessing"
		[ngClass]="{
			' hover:bg-emerald-600': form.valid && !isProcessing,
			'bg-opacity-40 pointer-events-none': !form.valid || isProcessing
		}"
		class="flex items-center justify-center w-full px-10 py-2 mt-8 text-white rounded-md bg-emerald-500"
	>
		<spinner *ngIf="isProcessing"></spinner>

		<div class="text-white" *ngIf="!isProcessing">Sign In</div>
	</button>
</form>
