<div class="relative flex justify-center w-full py-10">
	<!-- <img
		src="/assets/app/home/wave.svg"
		class="absolute bottom-0 z-0 object-contain w-screen h-full scale-x-125"
		alt=""
	/> -->

	<div class="relative z-20 flex justify-center w-full max-w-screen-md">
		<div class="grid grid-cols-1 px-5 md:grid-cols-2 gap-x-20">
			<div
				[ngClass]="{
					'mb-20': (breakpoint$ | async) === 'tablet'
				}"
				class="flex flex-col my-auto text-center"
			>
				<div
					@expandCollapse
					class="text-4xl font-bold leading-none text-center md:text-4xl text-emerald-500 md:text-left"
				>
					Join our Community!
				</div>

				<div
					*ngIf="(breakpoint$ | async) === 'phone'"
					class="grid grid-cols-2 gap-x-3 mt-15"
				>
					<mobile-apple-pay-button></mobile-apple-pay-button>

					<mobile-google-play-button></mobile-google-play-button>
				</div>

				<div
					*ngIf="(breakpoint$ | async) !== 'phone'"
					[@listAnimation]="2"
					[ngClass]="{
						'flex-col': (breakpoint$ | async) === 'phone',
						'justify-center items-center':
							(breakpoint$ | async) === 'tablet'
					}"
					class="flex items-center justify-center w-full mt-10"
				>
					<app-store-button class="md:mr-5"></app-store-button>

					<google-play-button></google-play-button>
				</div>
			</div>

			<div class="flex items-center justify-center w-full">
				<preview-section class="w-full"></preview-section>
			</div>
		</div>
	</div>
</div>
