<div class="md:min-h-screen w-full flex relative pt-20 md:py-0 justify-center">
	<img
		src="/assets/app/home/wave.svg"
		class="w-screen h-screen object-fill md:object-cover absolute z-0 -bottom-80 self-end mt-auto scale-y-60"
		alt=""
	/>

	<div class="max-w-screen-xl w-full flex justify-center relative z-20">
		<div class="grid grid-cols-1 md:grid-cols-2 px-5">
			<div
				[ngClass]="{
					'mb-20': (breakpoint$ | async) === 'tablet'
				}"
				class="flex-col flex my-auto text-center"
			>
				<div
					*ngIf="true"
					@expandCollapse
					class="text-6xl md:text-4xl text-emerald-500 font-bold leading-none text-center md:text-left"
				>
					Join our Community!
				</div>

				<div
					class="text-gray-500 font-normal text-xl md:text-2xl text-center md:text-left"
				>
					Help people to discovery you when they are in need.
				</div>

				<div
					[@listAnimation]="2"
					[ngClass]="{
						'flex-col': (breakpoint$ | async) === 'phone',
						'justify-center items-center':
							(breakpoint$ | async) === 'tablet'
					}"
					class="flex mt-10 w-full items-center justify-center"
				>
					<app-store-button class="md:mr-5"></app-store-button>

					<google-play-button></google-play-button>
				</div>
			</div>

			<preview-section class="mt-32"></preview-section>
		</div>
	</div>
</div>
