<div
	class="md:min-h-screen w-full flex relative pt-20 md:py-0 justify-center -mb-5"
>
	<img
		src="/assets/app/home/wave.svg"
		class="w-screen h-screen object-cover absolute z-0 -bottom-80 self-end mt-auto md:scale-y-60 scale-150"
		alt=""
	/>

	<div class="max-w-screen-xl w-full flex justify-center relative z-20">
		<div class="grid grid-cols-1 md:grid-cols-2 px-5">
			<div
				[ngClass]="{
					'mb-20': (breakpoint$ | async) === 'tablet'
				}"
				class="flex-col flex my-auto text-center"
			>
				<div
					*ngIf="true"
					@expandCollapse
					class="text-4xl md:text-4xl text-emerald-500 font-bold leading-none text-center md:text-left"
				>
					Join our Community!
				</div>

				<div
					*ngIf="(breakpoint$ | async) === 'phone'"
					class="grid grid-cols-2 gap-x-3 mt-15"
				>
					<mobile-apple-pay-button></mobile-apple-pay-button>

					<mobile-google-play-button></mobile-google-play-button>
				</div>

				<div
					*ngIf="(breakpoint$ | async) !== 'phone'"
					[@listAnimation]="2"
					[ngClass]="{
						'flex-col': (breakpoint$ | async) === 'phone',
						'justify-center items-center':
							(breakpoint$ | async) === 'tablet'
					}"
					class="flex mt-10 w-full items-center justify-center"
				>
					<app-store-button class="md:mr-5"></app-store-button>

					<google-play-button></google-play-button>
				</div>
			</div>

			<preview-section class="md:mt-32"></preview-section>
		</div>
	</div>
</div>
