.fuse-vertical-navigation-item-title-wrapper {
	font-weight: 700 !important;
	color: #0a2440;
}

.fuse-vertical-navigation-item:hover:not(.fuse-vertical-navigation-item-active) {
	* {
		color: #0a2440 !important;
	}
}

.fuse-vertical-navigation-item-active {
	background: #ebf9f4 !important;
	* {
		color: #00b074 !important;
	}
	mat-icon {
		color: #00b074 !important;
	}
}

.fuse-vertical-navigation-item {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	margin-bottom: 0 !important;
}

.fuse-vertical-navigation-content mat-icon {
	color: #99a8bc !important;
}

.fuse-vertical-navigation-content {
	padding-top: 3rem;
	padding-left: 10px;
	padding-right: 10px;
}
