<div
	role="button"
	[matMenuTriggerFor]="dashboardAppointmentFilter"
	style="width: 219px"
	class="ml-5 flex items-center py-1.5 px-4 rounded-md border border-gray-300/80 cursor-pointer hover:bg-gray-50"
>
	<input
		role="button"
		type="search"
		class="w-full pointer-events-none"
		placeholder="Filter"
	/>

	<mat-icon class="text-gray-400 ml-auto" svgIcon="feather:filter"></mat-icon>
</div>

<mat-menu
	[xPosition]="'before'"
	#dashboardAppointmentFilter="matMenu"
	class="rounded-md"
>
	<div (click)="$event.stopPropagation()" class="flex-col px-5 mt-10">
		<label for="departments" class="mb-1 font-bold text-gray-500 text-md"
			>Department</label
		>

		<select
			[(ngModel)]="department"
			id="departments"
			type="text"
			class="py-3 px-4 rounded-md border-gray-300/80 border w-full focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
		>
			<option value="">All</option>

			<option
				[value]="department.id"
				*ngFor="
					let department of (departments$ | async).entities
						| entities;
					trackBy: identity
				"
			>
				{{ department.name | titlecase }}
			</option>
		</select>
	</div>

	<div (click)="$event.stopPropagation()" class="flex-col px-5 mt-5">
		<label for="availability" class="mb-1 font-bold text-gray-500 text-md"
			>Availability</label
		>

		<select
			[(ngModel)]="availability"
			id="availability"
			class="py-3 pl-4 pr-20 rounded-md border-gray-300/80 border w-full focus:border-emerald-500 focus:border-2 focus:shadow-md focus:shadow-emerald-500/20"
		>
			<option value="">All</option>

			<option
				[value]="day"
				*ngFor="let day of weekDays; trackBy: identity"
			>
				{{ day | titlecase }}
			</option>
		</select>
	</div>

	<div class="flex-col px-5 mt-5 mb-5">
		<button
			(click)="onFilter()"
			matRipple
			matRippleColor="rgba(11, 169, 118,.3)"
			mat-menu-item
			class="flex bg-emerald-300 hover:bg-emeral-400 border-emerald-900 border text-emerald-900 rounded-md text-center items-center justify-center"
		>
			<span>Apply Filter</span>
		</button>

		<button
			(click)="onReset()"
			matRipple
			matRippleColor="rgba(11, 169, 118,.3)"
			mat-menu-item
			class="flex bg-gray-50 text-gray-900 hover:bg-gray-100 rounded-md text-center items-center justify-center"
		>
			<span>Reset Filter</span>
		</button>
	</div>
</mat-menu>
