<div
	class="grid bg-emerald-500 text-white grid-cols-2 p-0 md:grid-cols-6 md:p-20 md:px-30 relative z-50 font-normal"
>
	<div class="hidden md:block">
		<a routerLink="/">
			<img
				class="h-52 max-w-50 -mt-5"
				src="/assets/app/home/footer-logo.svg"
				alt=""
			/>
		</a>
	</div>

	<div class="hidden md:block">
		<div role="button" class="text-lg mb-3 hover:underline">Company</div>

		<div role="button" class="text-lg mb-3 hover:underline">Features</div>

		<div role="button" class="text-lg mb-3 hover:underline">Pricing</div>

		<div role="button" class="text-lg mb-3 hover:underline">Career</div>
	</div>

	<div class="hidden md:block">
		<div role="button" class="text-lg mb-3 hover:underline">
			Terms & Condition
		</div>
		<div role="button" class="text-lg mb-3 hover:underline">
			Privacy Policy
		</div>
	</div>

	<div class="hidden md:block">
		<div class="text-lg mb-3">Contact Us</div>

		<div role="button" class="text-lg mb-3 hover:underline">
			<a class="text-lg mb-3 hover:underline" target="_blank">
				{{ phone }}</a
			>
		</div>

		<div class="text-lg mb-3">Email Us</div>

		<div role="button" class="text-lg mb-3 hover:underline">
			<a [href]="'mailto:' + email">{{ email }}</a>
		</div>
	</div>

	<div class="col-span-2 hidden md:block">
		<div class="text-lg mb-3">Find us on</div>

		<div class="grid grid-cols-4 gap-x-10 text-emerald-200 w-1/3">
			<i
				role="button"
				class="bi bi-instagram text-3xl hover:text-white"
			></i>

			<i
				role="button"
				class="bi bi-facebook text-3xl hover:text-white"
			></i>

			<i
				role="button"
				class="bi bi-whatsapp text-3xl hover:text-white"
			></i>

			<i
				role="button"
				class="bi bi-youtube text-3xl hover:text-white"
			></i>
		</div>
	</div>

	<mobile-footer class="block md:hidden col-span-2"></mobile-footer>
</div>

<div
	class="flex items-center justify-center py-2 accent-color relative z-50"
	style="background: #cff3e8"
>
	All Rights Reserved @ Digital Brand Work LLC 2022
</div>
