<div class="w-full">
	<div class="flex mb-3.5">
		<div class="text-gray-400 text-base">Working Schedule</div>
		<div class="ml-auto text-gray-400 text-base">Select Availability</div>
	</div>

	<div
		[ngClass]="{ 'pointer-events-none bg-gray-200': !isAvailable }"
		class="working-schedule-container"
	>
		<div class="grid grid-cols-1 md:grid-cols-7 md:gap-x-10">
			<div *ngFor="let day of weekdays; trackBy: identity">
				<div
					@expandCollapse
					*ngIf="currentTimeSlots[day]"
					class="flex flex-col items-center justify-center"
				>
					<div
						[ngClass]="{ 'checkbox-disabled ': !isAvailable }"
						class="flex items-center justify-center"
					>
						<mat-checkbox
							[(ngModel)]="currentTimeSlots[day].active"
							matTooltip="ToggleAvailability"
							style="transform: translateY(-3px)"
							class="mr-1"
						></mat-checkbox>

						<div
							class="text-center accent-color text-base font-bold uppercase rounded-md flex items-center justify-center"
						>
							{{ day | shortened }}
						</div>
					</div>

					<div class="mt-5">
						<doctor-schedule-select
							[day]="day"
							[timing]="currentTimeSlots[day].start"
							[disabled]="!currentTimeSlots[day].active"
							(onTimeSelected)="
								currentTimeSlots[day].start = $event;
								onChangeSchedule.emit(this.currentTimeSlots)
							"
						></doctor-schedule-select>
					</div>

					<div class="mt-5">
						<doctor-schedule-select
							[day]="day"
							[timing]="currentTimeSlots[day].end"
							[disabled]="!currentTimeSlots[day].active"
							(onTimeSelected)="
								currentTimeSlots[day].end = $event;
								onChangeSchedule.emit(this.currentTimeSlots)
							"
						></doctor-schedule-select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="flex my-5 items-center">
		<button
			(click)="toggleAvailability(true)"
			mat-button
			class="flex items-center mr-5"
		>
			<div
				[ngClass]="{
					'not-available': !isAvailable,
					available: isAvailable
				}"
				class="rounded-full mr-2"
			></div>

			<div class="text-gray-600">Available</div>
		</button>

		<button
			(click)="toggleAvailability(false)"
			mat-button
			class="flex items-center"
		>
			<div
				[ngClass]="{
					'not-available': isAvailable,
					available: !isAvailable
				}"
				class="rounded-full mr-2"
			></div>

			<button class="text-gray-600">Not Available</button>
		</button>
	</div>
</div>
