<div class="flex items-center w-full">
	<button
		(click)="resolvePath(nav.link)"
		*ngFor="let nav of dashboardTabs; trackBy: identity"
		[ngClass]="{
			' text-emerald-500 border-b-4 border-emerald-500 pointer-events-none':
				activeNavigation === nav.id,
			'text-gray-500 hover:bg-gray-50': activeNavigation !== nav.id
		}"
		class="flex font-bold text-xl flex-row items-baseline mr-20 py-3 relative z-0 overflow-visible"
	>
		<div>
			{{ nav.name }}
		</div>

		<div
			*ngIf="nav.id | dashboard_count | async"
			[ngClass]="{
				'bg-emerald-500 badge text-white   font-normal':
					activeNavigation === nav.id,
				'bg-gray-100 badge text-gray-500 font-bold ':
					activeNavigation !== nav.id,
				hidden:
					((nav.id | dashboard_count | async)?.entities | entities)
						.length === 0
			}"
			class="text-sm ml-3 -translate-y-.5 translate-x-10 z-10 rounded-full py-1 px-2 absolute right-0"
		>
			{{
				((nav.id | dashboard_count | async)?.entities | entities).length
					| toTime
			}}
		</div>
	</button>

	<div class="ml-auto items-cente flex">
		<mat-icon
			class="text-gray-400 mr-2 icon-size-5"
			svgIcon="heroicons_outline:calendar"
		></mat-icon>

		<div class="font-bold text-gray-700 mr-2 text-lg">
			{{ today | date: 'dd MMMM' }}
		</div>

		<div class="font-bold text-gray-400 mr-2 text-lg">Today</div>
	</div>

	<for-approals-search-results class="ml-auto"></for-approals-search-results>
</div>
