<div class="w-screen px-5 md:w-full">
	<div class="mb-5">
		<div class="mb-1 font-bold text-gray-500 text-base flex items-center">
			Subscription
		</div>

		<select
			class="py-3 px-4 rounded-md border-gray-300/80 border w-full focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
		>
			<option>Free</option>
			<option>Standard</option>
			<option>Golden</option>
			<option>Platinum</option>
		</select>

		<div class="text-sm text-rose-500">Subscription is required.</div>
	</div>

	<div class="mt-5">
		<div class="flex items-baseline mt-8 whitespace-nowrap">
			<div class="text-6xl font-semibold leading-tight tracking-tight">
				<ng-container>AED 49</ng-container>
			</div>

			<div class="ml-2 text-2xl text-emerald-500">/ month</div>
		</div>

		<div class="flex flex-col mt-2 text-gray-500">
			<ng-container>
				<div class="text-gray-800"><b>AED 69.00</b> billed monthly</div>
			</ng-container>
		</div>
	</div>

	<mat-divider class="my-2 mb-5 border-b border-zinc-100"></mat-divider>

	<div class="grid grid-cols-1 md:grid-cols-2 gap-10 gap-y-2">
		<div
			*ngFor="
				let item of [1, 2, 3, 4, 5, 6];
				let i = index;
				trackBy: identity
			"
			class=""
		>
			<div class="font-bold text-gray-500 text-base flex items-center">
				Account {{ i + 1 }}
			</div>

			<input
				class="py-3 px-4 rounded-md border-gray-300/80 border w-full focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20 placeholder-gray-400"
			/>

			<div class="text-sm text-rose-500">
				Account {{ i + 1 }} is required.
			</div>
		</div>
	</div>

	<div
		*ngIf="true"
		@slideInBottom
		style="width: 300px"
		class="w-full my-2 p-5 rounded-sm bg-gradient-to-br from-emerald-200/20 via-white/20 to-white backdrop-blur-md flex items-center border border-teal-200 mt-10 mb-0"
	>
		<mat-icon class="text-emerald-500" svgIcon="success"></mat-icon>

		<div class="ml-4">
			<div class="text-emerald-500 font-extrabold">
				Thank you for reaching out to us.
			</div>
			<div class="text-gray-500 font-medium">
				We are reviewing your information and we will contact you as
				soon as you get approved.
			</div>
		</div>
	</div>

	<div class="mt-5 flex flex-col w-full">
		<button
			class="text-white px-10 py-4 uppercase rounded-lg bg-teal-500 hover:bg-teal-600 flex justify-center items-center w-full"
		>
			<spinner></spinner>
			Register
		</button>

		<button
			(click)="onBack.emit()"
			class="px-10 py-4 uppercase rounded-lg mt-5 border-teal-500 bg-teal-50 text-teal-500 hover:bg-slate-100 w-full"
		>
			Back
		</button>
	</div>
</div>
