<div @slideInBottom class="md:px-10 px-0 w-full">
	<div class="md:rounded-xl bg-white py-5 px-10 w-full">
		<div class="text-gray-700 text-2xl font-semibold mb-10">
			Subscription
		</div>

		<div class="flex items-center border-b border-b-gray-400/50">
			<div>
				<div class="text-gray-600 font-semibold mb-1 text-lg">
					Soon will expire
				</div>
				<div class="text-gray-700 text-3xl font-bold mb-2">
					Trial Account
				</div>
			</div>
		</div>

		<div class="text-gray-600 max-w-sm font-semibold mb-1 text-lg my-10">
			Your Trial will expire on the next 18 Days. Please Subscribe on us
			to get the full access of Dashboard.
		</div>
	</div>
</div>
