<div
	role="button"
	[matMenuTriggerFor]="patientsFilter"
	style="width: 219px"
	class="ml-5 flex items-center py-1.5 px-4 rounded-md border border-gray-300/80 cursor-pointer hover:bg-gray-50"
>
	<input
		role="button"
		type="search"
		class="w-full pointer-events-none"
		placeholder="Filter"
	/>

	<mat-icon class="text-gray-400 ml-auto" svgIcon="feather:filter"></mat-icon>
</div>

<mat-menu
	[xPosition]="'before'"
	#patientsFilter="matMenu"
	class="rounded-md"
	style="min-width: 300px"
>
	<button stop-propagation mat-menu-item class="flex items-center w-full">
		<span>Date</span>

		<mat-icon
			class="text-gray-400 ml-auto"
			svgIcon="feather:arrow-up"
		></mat-icon>
	</button>

	<button stop-propagation mat-menu-item class="flex items-center w-full">
		<span>Time</span>

		<mat-icon
			class="text-gray-400 ml-auto"
			svgIcon="feather:arrow-down"
		></mat-icon>
	</button>

	<mat-divider class="my-2 mb-5"></mat-divider>

	<div class="flex-col px-5 mt-5 mb-5 w-full">
		<button
			matRipple
			matRippleColor="rgba(11, 169, 118,.3)"
			(click)="onFilter()"
			mat-menu-item
			class="flex bg-emerald-300 border-emerald-900 border text-emerald-900 rounded-md text-center items-center justify-center"
		>
			<span>Apply Filter</span>
		</button>

		<button
			(click)="onReset()"
			matRipple
			matRippleColor="rgba(11, 169, 118,.3)"
			mat-menu-item
			class="flex bg-gray-50 text-gray-900 hover:bg-gray-100 rounded-md text-center items-center justify-center"
		>
			<span>Reset Filter</span>
		</button>
	</div>
</mat-menu>
