<div
	[ngClass]="{
		'scale-50 -my-30': (breakpoint$ | async) === 'phone'
	}"
	style="transform-origin: left"
	class="flex items-center"
>
	<img
		src="../../../../../assets/app/home/screen1.png"
		alt="phone picture"
		style="width: 244px"
		class="-mr-10"
	/>

	<img
		src="../../../../../assets/app/home/screen2.png"
		alt="phone picture"
		style="width: 331.65px"
		class="relative z-20"
	/>

	<img
		src="../../../../../assets/app/home/screen3.png"
		alt="phone picture"
		style="width: 244px"
		class="-ml-10"
	/>
</div>
