<form
	@slideInBottom
	*ngIf="form"
	class="w-full flex flex-col items-center"
	[formGroup]="form"
>
	<div class="flex items-center justify-center w-3/4 flex-col">
		<div
			class="flex items-center justify-center h-24 w-24 bg-emerald-50 mb-5 rounded-full"
		>
			<i class="bi bi-key-fill text-emerald-500 text-4xl"></i>
		</div>

		<div class="text-3xl text-center accent-color">Forgot Password?</div>

		<div class="text-lg text-gray-400 text-center mt-2 font-normal">
			No worries, we'll send you reset instructions.
		</div>

		<div class="form flex flex-col w-full mb-5 mt-10">
			<label for="email" class="mb-2">Email</label>

			<input
				#email
				id="email"
				type="email"
				formControlName="email"
				[ngClass]="{
					'animate__headShake border-red-300':
						form.get('email')?.invalid &&
						form.get('email')?.touched,
					'text-red-500': errors.email
				}"
				class="animate__animated w-full border rounded-lg px-5 py-3"
			/>

			<div
				*ngIf="errors.email"
				@slideInBottom
				class="text-rose-500 text-base -mb-1 font-light"
			>
				Your email wasn't recognized.
			</div>

			<div
				*ngIf="false"
				@slideInBottom
				class="text-rose-500 text-base -mb-1 font-light"
			>
				Try again resting your password after a minute.
			</div>
		</div>

		<button
			[ngClass]="{
				'bg-gray-400 text-white pointer-events-none':
					!form.valid || form.disabled,
				'bg-emerald-500 ': form.valid && !form.disabled
			}"
			(click)="send()"
			class="w-full justify-center hover:bg-emerald-600 p-3 px-16 text-xl mb-3 flex items-center mx-auto rounded-md"
		>
			<div class="text-white" *ngIf="!form.disabled">Reset Password</div>

			<spinner class="mr-3" *ngIf="isProcessing"></spinner>

			<div class="text-white" *ngIf="form.disabled">
				Sending your password reset form...
			</div>
		</button>

		<a
			routerLink="/"
			role="button"
			class="flex items-center mt-10 text-gray-500"
		>
			<i class="bi bi-arrow-left"></i>

			<div class="ml-2 hover:text-black">Back to Sign In</div>
		</a>
	</div>
</form>
