<div
	matRipple
	matRippleColor="rgba(150, 150, 150,.1)"
	role="button"
	class="rounded-lg px-2 pr-5 py-2 bg-white flex items-center whitespace-nowrap md:mt-0 justify-center"
>
	<img
		class="h-7 mr-2 max-w-6"
		src="/assets/app/home/google-play.svg"
		alt="Google Play Logo"
	/>

	<div class="text-black flex flex-col justify-start items-start">
		<div class="font-light tracking-wider uppercase text-xs">Get it on</div>
		<div class="font-semibold tracking-wide text-xl">Google Play</div>
	</div>
</div>
