<div
	*ngIf="alert.type === 'success'"
	@slideInTop
	style="width: 300px"
	class="w-full my-2 p-5 rounded-sm bg-gradient-to-br from-emerald-200/20 via-white/20 to-white backdrop-blur-xl flex items-center border border-emerald-200"
>
	<mat-icon class="text-emerald-500" svgIcon="check_circle"></mat-icon>

	<div class="ml-4">
		<div class="text-emerald-500 font-extrabold">
			{{ alert.title }}
		</div>
		<div class="text-gray-500 font-medium">
			{{ alert.message }}
		</div>
	</div>
</div>

<div
	*ngIf="alert.type === 'info'"
	@slideInTop
	style="width: 300px"
	class="w-full my-2 p-5 rounded-sm bg-gradient-to-br from-teal-200/20 via-white/20 to-whitebackdrop-blur-md flex items-center border border-teal-200"
>
	<mat-icon class="text-teal-500" svgIcon="info"></mat-icon>

	<div class="ml-4">
		<div class="text-teal-500 font-extrabold">
			{{ alert.title }}
		</div>
		<div class="text-gray-500 font-medium">
			{{ alert.message }}
		</div>
	</div>
</div>

<div
	*ngIf="alert.type === 'error'"
	@slideInTop
	style="width: 300px"
	class="w-full my-2 p-5 rounded-sm bg-gradient-to-br from-rose-200/20 via-white/20 to-whitebackdrop-blur-md flex items-center border border-rose-200"
>
	<mat-icon class="text-rose-500" svgIcon="error"></mat-icon>

	<div class="ml-4">
		<div class="text-rose-500 font-extrabold">
			{{ alert.title }}
		</div>
		<div class="text-gray-500 font-medium">
			{{ alert.message }}
		</div>
	</div>
</div>
