<div
	[ngClass]="{ 'min-h-screen': (breakpoint$ | async) !== 'tablet' }"
	class="w-full flex items-center justify-center relative"
>
	<img
		[ngClass]="{
			' h-screen ':
				(breakpoint$ | async) !== 'tablet' &&
				(breakpoint$ | async) !== 'phone'
		}"
		src="../../../../../assets/app/home/home-section.jpg"
		class="w-screen h-full object-cover absolute top-0 z-0"
		alt=""
	/>

	<div
		class="max-w-screen-xl w-full flex items-center justify-center relative z-20"
	>
		<div
			[ngClass]="{
				'pb-20': (breakpoint$ | async) === 'tablet'
			}"
			class="grid grid-cols-1 md:grid-cols-2 md:gap-x-20"
		>
			<div
				[ngClass]="{
					'min-h-screen': (breakpoint$ | async) !== 'tablet'
				}"
				class="flex md:justify-center w-full px-5"
			>
				<div
					class="flex-col flex my-auto"
					[ngClass]="{
						'mt-40 ': (breakpoint$ | async) === 'tablet'
					}"
				>
					<div
						[ngClass]="{
							'text-5xl': (breakpoint$ | async) === 'phone',
							'text-8xl ': (breakpoint$ | async) === 'tablet',
							'text-9xl':
								(breakpoint$ | async) !== 'phone' &&
								(breakpoint$ | async) !== 'tablet'
						}"
						@expandCollapse
						class="text-white font-bold leading-none text-center md:text-left"
					>
						Clinic Appointments made easy.
					</div>

					<div
						class="text-emerald-100 text-xl md:text-2xl text-center md:text-left"
					>
						Helping people for better health.
					</div>

					<div
						[@listAnimation]="2"
						[ngClass]="{
							'flex-col': (breakpoint$ | async) === 'phone',
							'justify-center items-center':
								(breakpoint$ | async) === 'tablet'
						}"
						class="flex mt-10"
					>
						<div
							[ngClass]="{
								'my-5': (breakpoint$ | async) === 'phone',
								'mr-10': (breakpoint$ | async) === 'tablet'
							}"
							role="button"
							class="rounded-lg px-3 pr-5 py-3 bg-emerald-900 hover:bg-black flex items-center whitespace-nowrap md:mr-2 justify-center"
						>
							<img
								class="h-12 mr-4 max-w-10"
								src="../../../../../assets/app/home/apple.svg"
								style="filter: invert(100%)"
								alt="Apple Logo"
							/>

							<div class="text-white">
								<div
									class="font-light tracking-wider uppercase text-xs"
								>
									Download on the
								</div>
								<div
									class="font-semibold tracking-wide text-3xl"
								>
									App Store
								</div>
							</div>
						</div>

						<div
							role="button"
							class="rounded-lg px-3 pr-5 py-3 bg-emerald-900 hover:bg-black flex items-center whitespace-nowrap md:mt-0 justify-center"
						>
							<img
								class="h-12 mr-4 max-w-10"
								src="../../../../../assets/app/home/google-play.svg"
								alt="Google Play Logo"
							/>

							<div class="text-white">
								<div
									class="font-light tracking-wider uppercase text-xs"
								>
									Get it on
								</div>
								<div
									class="font-semibold tracking-wide text-3xl"
								>
									Google Play
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="flex md:items-center md:justify-center w-full">
				<home-section1-login-panel
					class="md:w-3/4 hidden md:block w-full"
				></home-section1-login-panel>
			</div>
		</div>
	</div>
</div>
