<mobile-home-section1
	*ngIf="(breakpoint$ | async) === 'phone'"
></mobile-home-section1>

<div
	*ngIf="
		(breakpoint$ | async) === 'laptop' ||
		(breakpoint$ | async) === 'desktop' ||
		(breakpoint$ | async) === 'max'
	"
	[ngClass]="{ 'min-h-screen': (breakpoint$ | async) !== 'tablet' }"
	class="w-full flex items-center justify-center relative"
>
	<img
		[ngClass]="{
			' h-screen ':
				(breakpoint$ | async) !== 'tablet' &&
				(breakpoint$ | async) !== 'phone'
		}"
		src="../../../../../assets/app/home/home-section-v2.png"
		class="w-screen h-full object-cover absolute top-0 z-0"
		alt=""
	/>

	<div
		class="max-w-screen-xl w-full flex items-center justify-center relative z-20"
	>
		<div
			[ngClass]="{
				'pb-20  grid-cols-1':
					(breakpoint$ | async) === 'phone' ||
					(breakpoint$ | async) === 'tablet' ||
					!showSignInPanel,
				'pb-20 md:grid-cols-2':
					((breakpoint$ | async) === 'laptop' ||
						(breakpoint$ | async) === 'desktop' ||
						(breakpoint$ | async) === 'max') &&
					showSignInPanel
			}"
			class="grid md:gap-x-20"
		>
			<div
				[ngClass]="{
					'min-h-screen': (breakpoint$ | async) !== 'tablet'
				}"
				class="flex md:justify-center w-full px-5"
			>
				<div
					class="flex-col flex my-auto"
					[ngClass]="{
						'mt-40 ': (breakpoint$ | async) === 'tablet',
						'text-center justify-center items-center':
							!showSignInPanel
					}"
				>
					<div
						class="accent-color text-2xl md:text-4xl text-center md:text-left"
					>
						Forget the long calls
					</div>

					<div
						[ngClass]="{
							'text-5xl -mt-50':
								(breakpoint$ | async) === 'phone',
							'text-6xl px-30 ':
								(breakpoint$ | async) === 'tablet',
							'text-8xl':
								(breakpoint$ | async) !== 'phone' &&
								(breakpoint$ | async) !== 'tablet'
						}"
						@expandCollapse
						class="accent-color my-2 font-bold leading-none text-center md:text-left whitespace-nowrap"
					>
						Book your appointments!
					</div>

					<div
						class="accent-color text-xl md:text-2xl text-center md:text-left"
					>
						A reliable, detailed booking solution made to serve you.
					</div>

					<div
						[@listAnimation]="2"
						[ngClass]="{
							'flex-col -mb-60':
								(breakpoint$ | async) === 'phone',
							'justify-center items-center':
								(breakpoint$ | async) === 'tablet'
						}"
						class="flex mt-10"
					>
						<app-store-button class="md:mr-5"></app-store-button>

						<google-play-button></google-play-button>
					</div>
				</div>
			</div>

			<div
				*ngIf="showSignInPanel"
				class="flex md:items-center md:justify-center w-full md:px-10"
			>
				<home-section1-login-panel
					class="md:w-3/4 hidden md:block w-full"
				></home-section1-login-panel>
			</div>
		</div>
	</div>
</div>
