<div
	(click)="onSelectMedicalService.emit()"
	role="button"
	style="
		box-shadow: 0px 3px 16px #6f7d8f38;
		height: 131px;
		transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1);
	"
	class="w-full flex bg-white rounded-lg p-5 overflow-hidden items-center hover:scale-105"
>
	<div style="width: 272px" class="h-full overflow-hidden">
		<div class="font-bold text-2xl">Maternity</div>

		<div class="text-ellipsis text-xs text-gray-500 max-h-full">
			Giving Birth Is A Painful But Fruitful Incident In A Mother’s Life.
			Having A Team Of Dedicated Gynaecologists, Midwives, And Nurses Is A
			Sure Shot Way Of Safe Baby Delivery. At Dr. Sulaiman Al Habib
			Hospital Dubai, We Not Only Ensure Healthy Pregnant Delivery But
			Also Enrich You With The Knowledge Required To Take Care Of Your
			Little One. Also, You Leave The Hospital With The Birth Certificate
			But You Need To Visit Haad Customer Service Centre.
		</div>
	</div>

	<img
		class="rounded-xl border-2 border-white ml-auto"
		style="width: 101px; height: 101px; box-shadow: 0px 3px 16px #6f7d8f38"
		src="../../../../../../assets/app/clinic/item.jpg"
		alt="clinic service item"
	/>
</div>
