@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&disbody=swap');

html {
	overflow: auto;
}

html,
body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	// Avenir
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	scroll-behavior: smooth;
	overflow-y: hidden;
}

input,
select {
	font-size: 16px;
	font-weight: 700;
	color: #0a2440;
}

.accent-color {
	color: #0a2440;
}

.fuse-vertical-navigation-content {
	padding-top: 3rem;
	padding-left: 10px;
	padding-right: 10px;
}

select option:checked,
select option:hover {
	background: #10b981;
	color: #fff;
}

.mat-menu-panel {
	box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 19px 0px !important;
}

.fuse-vertical-navigation-item-title-wrapper {
	font-weight: 700 !important;
	color: #0a2440;
}

.fuse-vertical-navigation-item:hover:not(.fuse-vertical-navigation-item-active) {
	* {
		color: #0a2440 !important;
	}
}

.fuse-vertical-navigation-item-active {
	background: #ebf9f4 !important;
	* {
		color: #00b074 !important;
	}
	mat-icon {
		color: #00b074 !important;
	}
}

.fuse-vertical-navigation-item {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	margin-bottom: 0 !important;
}

.fuse-vertical-navigation-content mat-icon {
	color: #99a8bc !important;
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	background: url('/assets/app/x-circle.svg') no-repeat 60% 60%;
	background-size: contain;
}

select {
	background: url('/assets/app/dropdown-icon.svg') no-repeat !important;
	background-position: calc(100% - 0.75rem) center !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	padding-right: 2rem !important;
}

::-webkit-calendar-picker-indicator {
	background-image: url('/assets/app/calendar-icon.svg');
	cursor: pointer;
	margin-left: 0.5rem;
	transform: scale(1.4);
}

input[type='time']::-webkit-calendar-picker-indicator {
	background-image: url('/assets/app/clock.svg');
	cursor: pointer;
	margin-left: 0.5rem;
	transform: scale(1.4);
}

.datalist::-webkit-calendar-picker-indicator {
	display: none !important;
}

th,
td {
	text-align: left;
	padding-left: 1rem;
	height: inherit;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
	opacity: 0.03 !important;
	background-color: #10b981 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
	background-color: #10b981 !important;
}
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
	background-color: #10b981 !important;
}

mat-checkbox {
	.mat-checkbox-background {
		border: 1px solid #10b981;
		background: white;
	}

	.mat-checkbox-focused {
		border: 1px solid #10b981;
		background: white;
	}
}

::placeholder {
	font-size: 13px;
	font-weight: 400;
	color: #6d7c8d;
}
