<div class="flex items-center w-full">
	<div
		style="width: 219px"
		class="hidden md:flex items-center py-1.5 px-4 rounded-md border border-gray-300/80 ml-auto"
	>
		<input type="search" class="w-full" placeholder="Search Promotions" />

		<mat-icon
			class="text-gray-400 ml-auto"
			svgIcon="feather:search"
		></mat-icon>
	</div>

	<promotions-filter
		class="hidden md:flex"
		(onFilter)="onFilter.emit()"
	></promotions-filter>

	<a
		mat-button
		routerLink="/aster_clinic/jumeirah/promotions/add"
		class="ml-auto md:mx-5 flex items-center bg-emerald-500 text-white py-2 px-5 rounded-md g hover:bg-emerald-600/80"
	>
		Create new Offer

		<mat-icon
			class="text-white ml-3 icon-size-6"
			svgIcon="feather:plus"
		></mat-icon>
	</a>
</div>
