<div
	@slideInBottom
	*ngIf="form"
	class="w-full flex flex-col items-center"
	[formGroup]="form"
>
	<div
		class="flex items-center justify-center h-24 w-24 bg-emerald-50 mb-5 rounded-full"
	>
		<i class="bi bi-envelope text-emerald-500 text-4xl"></i>
	</div>

	<div class="text-3xl text-center accent-color">Check your email</div>

	<div class="text-lg text-gray-400 text-center mt-2 font-normal">
		We sent a password reset link to <br />
		{{ email }}.
	</div>

	<div class="form flex flex-col w-full mb-5 mt-10">
		<label for="email" class="mb-2">OTP (One Time Password)</label>

		<input
			#code
			id="code"
			type="code"
			formControlName="code"
			[ngClass]="{
				'animate__headShake border-red-300':
					form.get('code')?.invalid && form.get('code')?.touched,
				'text-red-500': errors.code
			}"
			class="animate__animated w-full border rounded-lg px-5 py-3"
			placeholder="Enter OTP (One Time Password)"
		/>
	</div>

	<button
		[ngClass]="{
			'bg-emerald-500 hover:bg-emerald-600': form.valid && !isProcessing,
			'pointer-events-none bg-gray-400': !form.valid || isProcessing
		}"
		(click)="verify()"
		class="w-full justify-center text-white p-3 px-16 text-xl mb-3 flex items-center mx-auto rounded-md mt-1"
	>
		<div class="text-white">Submit</div>
	</button>

	<a
		target="_blank"
		href="https://mail.google.com/"
		class="w-full justify-center border-2 border-emerald-500 text-emerald-500 hover:bg-gray-50 p-3 px-16 text-xl mb-3 flex items-center mx-auto rounded-md mt-1"
	>
		<div>Open Gmail</div>
	</a>

	<div
		@slideInBottom
		*ngIf="(throttle$ | async) !== 0"
		class="my-3 font-normal"
	>
		you can resend after
		<span role="button" class="text-rose-500 text-xl ml-2">{{
			throttle$ | async
		}}</span>
	</div>

	<div
		@slideInBottom
		*ngIf="(throttle$ | async) === 0"
		class="my-3 font-normal"
	>
		Didn't received an email?
		<span
			(click)="send()"
			role="button"
			class="text-green-800/90 hover:underline"
			>Click to resend</span
		>
	</div>

	<a
		routerLink="/"
		role="button"
		class="flex items-center mt-10 text-gray-500"
	>
		<i class="bi bi-arrow-left"></i>

		<div class="ml-2 hover:text-black">Back to Sign In</div>
	</a>
</div>
