<div class="flex w-full">
	<div
		class="relative z-10 flex flex-col justify-center h-[60vh] mt-5 w-full"
	>
		<div class="absolute w-screen h-[60vh]">
			<div
				class="absolute w-full h-full bg-gradient-to-br animated z-[1]"
			></div>

			<img
				@zoomIn
				src="../../../../../assets/app/home/home-section-v2.png"
				class="relative top-0 z-0 object-cover h-full"
				alt=""
			/>
		</div>

		<div class="absolute flex w-full">
			<div class="z-10 w-full max-w-screen-sm px-5 mx-auto">
				<div
					@slideInTop
					class="my-2 text-3xl font-bold text-center accent-color"
				>
					Forget the long calls <br />
					Book Your Appointments!
				</div>

				<div @slideInBottom class="my-5 text-lg text-center">
					A reliable, detailed booking solution made to serve you.
				</div>

				<div class="grid grid-cols-2 gap-x-3">
					<mobile-apple-pay-button></mobile-apple-pay-button>

					<mobile-google-play-button></mobile-google-play-button>
				</div>

				<div
					@slideInBottom
					class="flex items-center justify-center w-full mt-20"
				>
					<a
						matRipple
						matRippleColor="rgba(250, 250, 250,.5)"
						routerLink="/partner-with-us"
						class="px-10 py-3 font-bold text-white rounded-lg shadow-xl shadow-white/50 bg-emerald-500"
					>
						Clinic? Join Mawedy
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
