<div
	*ngIf="doctor$ | async as doctor"
	@zoomIn
	stop-propagation
	class="m-auto bg-white h-auto w-full md:w-1/4 rounded-xl overflow-hidden"
>
	<modal-header
		modalTitle="Availability"
		(onClose)="opened$.next(false)"
	></modal-header>

	<div class="px-10 py-5 h-auto bg-white">
		<div class="grid grid-cols-2 gap-x-3 mt-3">
			<div>
				<div class="text-base text-gray-500">Name</div>
				<div class="text-base accent-color font-bold">
					Dr.{{ doctor.name }}
				</div>
			</div>

			<div>
				<div class="text-base text-gray-500">Department</div>
				<div class="text-base accent-color font-bold">
					{{ doctor.departments[0].name }}
				</div>
			</div>
		</div>

		<hr class="bg-opacity-20" />

		<doctor-details-working-schedule
			[timeslots]="doctor.timeslots"
		></doctor-details-working-schedule>
	</div>
</div>
