<div class="text-base text-gray-500 mb-3.5">Working Schedule</div>

<div class="working-schedule-container grid grid-cols-1 md:grid-cols-2 p-5">
	<div
		*ngFor="let day of weekdays; trackBy: identity"
		class="flex flex-col mb-5"
	>
		<div>
			<div class="text-base accent-color flex items-center">
				<div
					[ngClass]="{
						'available ': (day | toTimeSlot: timeslots)?.active,
						'not-available': !(day | toTimeSlot: timeslots)?.active
					}"
					class="rounded-full mr-2"
				></div>

				<div
					[ngClass]="{
						'text-emerald-500': (day | toTimeSlot: timeslots)
							?.active
					}"
				>
					{{ day | shortened | uppercase }}
				</div>
			</div>

			<div
				*ngIf="(day | toTimeSlot: timeslots)?.active"
				class="text-md accent-color ml-4"
			>
				{{
					(day | toTimeSlot: timeslots)?.start | toTwelve | uppercase
				}}
				-
				{{ (day | toTimeSlot: timeslots)?.end | toTwelve | uppercase }}
			</div>
		</div>
	</div>
</div>

<div class="flex my-5 items-center">
	<div class="flex items-center mr-5">
		<div
			[ngClass]="{
				available: isAvailable(timeslots),
				'not-available': !isAvailable(timeslots)
			}"
			class="rounded-full mr-2"
		></div>

		<div class="text-gray-600">Available</div>
	</div>

	<div class="flex items-center">
		<div
			[ngClass]="{
				available: !isAvailable(timeslots),
				'not-available': isAvailable(timeslots)
			}"
			class="rounded-full mr-2"
		></div>

		<div class="text-gray-600">Not Available</div>
	</div>
</div>
