<div @slideInBottom class="md:px-10 px-0 w-full">
	<div class="md:rounded-xl bg-white py-5 px-10 w-full">
		<div class="text-gray-700 text-2xl font-semibold mb-10">
			Subscription
		</div>

		<div class="flex items-center border-b border-b-gray-400/50 pb-10">
			<div>
				<div class="text-gray-600 font-semibold mb-1 text-lg">
					Gold Account
				</div>
				<div class="text-gray-700 text-3xl font-bold mb-10">
					Annual Plan
				</div>

				<div class="text-gray-600 font-semibold mb-1 text-lg max-w-md">
					Your next payment is 180 AED, to be charged on Feb 27, 2022
					Your payment will be automatically renewed each year.
				</div>
			</div>

			<div class="flex flex-col ml-auto">
				<button
					routerLink="/aster_clinic/jumeirah/subscription/packages"
					style="width: 189px"
					class="text-teal-500 tracking-wide drop-shadow-md border border-teal-500 font-semibold bg-white hover:bg-gray-50 rounded-md py-3 mb-5"
				>
					Upgrade
				</button>

				<button
					style="width: 189px"
					class="text-teal-500 tracking-wide drop-shadow-md border border-teal-500 font-semibold bg-white hover:bg-gray-50 rounded-md py-3"
				>
					Cancel Renewal
				</button>
			</div>
		</div>

		<div class="flex border-b border-b-gray-400/50 py-10">
			<div>
				<div class="text-gray-700 text-3xl font-bold mb-1">
					Invoicing
				</div>

				<div class="text-gray-600 font-semibold mb-1 text-lg max-w-md">
					Last payment: 10/27/2021
				</div>
			</div>

			<div class="ml-auto md:mr-10">
				<button
					(click)="opened$.next(true)"
					style="color: #0070ff"
					class="hover:underline font-bold"
				>
					Check Billing History
				</button>
			</div>
		</div>

		<div class="flex py-10">
			<div>
				<div class="text-gray-700 text-3xl font-bold mb-5">
					Billing History
				</div>

				<div class="grid grid-cols-2 gap-x-5">
					<div
						class="text-gray-600 font-semibold mb-1 text-lg max-w-md"
					>
						Customer name
					</div>

					<div
						class="text-gray-800 font-semibold mb-1 text-lg max-w-md"
					>
						Mohammad Ali
					</div>
				</div>

				<div class="grid grid-cols-2 gap-x-5">
					<div
						class="text-gray-600 font-semibold mb-1 text-lg max-w-md"
					>
						Billing email
					</div>

					<div
						class="text-gray-800 font-semibold mb-1 text-lg max-w-md"
					>
						Clinic@gmail.com
					</div>
				</div>

				<div class="grid grid-cols-2 gap-x-5">
					<div
						class="text-gray-600 font-semibold mb-1 text-lg max-w-md"
					>
						Billing address
					</div>

					<div
						class="text-gray-800 font-semibold mb-1 text-lg max-w-md"
					>
						Ras AL Khor Inds. Area 1 Al hamadi bldg.
					</div>
				</div>

				<div class="grid grid-cols-2 gap-x-5">
					<div
						class="text-gray-600 font-semibold mb-1 text-lg max-w-md"
					>
						Country
					</div>

					<div
						class="text-gray-800 font-semibold mb-1 text-lg max-w-md"
					>
						United Arab Emirates
					</div>
				</div>

				<div class="grid grid-cols-2 gap-x-5">
					<div
						class="text-gray-600 font-semibold mb-1 text-lg max-w-md"
					>
						City
					</div>

					<div
						class="text-gray-800 font-semibold mb-1 text-lg max-w-md"
					>
						Dubai
					</div>
				</div>

				<div class="grid grid-cols-2 gap-x-5">
					<div
						class="text-gray-600 font-semibold mb-1 text-lg max-w-md"
					>
						Zip/postal code
					</div>

					<div
						class="text-gray-800 font-semibold mb-1 text-lg max-w-md"
					>
						00000
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
