<div *ngIf="true" @slideInTop class="w-full">
	<app-toolbar
		class="w-full"
		[toolbar]="
			activeNavigation === 1
				? appointMentsToolbar
				: activeNavigation === 2
				? waitingPatientsToolbar
				: forApprovalsToolBar
		"
	></app-toolbar>
</div>

<ng-template #appointMentsToolbar>
	<dashboard-toolbar
		(onFilter)="filter()"
		(onSearch)="filter($event)"
		class="w-full"
	></dashboard-toolbar>
</ng-template>

<ng-template #waitingPatientsToolbar>
	<waiting-patients-toolbar
		(onFilter)="filter()"
		(onSearch)="filter()"
		class="w-full"
	></waiting-patients-toolbar>
</ng-template>

<ng-template #forApprovalsToolBar>
	<for-approvals-toolbar
		(onFilter)="filter()"
		(onSearch)="filter()"
		class="w-full"
	></for-approvals-toolbar>
</ng-template>

<ng-container *ngIf="subscription$ | async as subscription">
	<div
		@fadeInLeft
		class="px-10 mb-5 -mt-5"
		*ngIf="subscription.status === 'past_due'"
	>
		<div class="flex items-center w-full px-2 py-3 subscription">
			<div class="text-2xl font-medium text-white md:ml-10">
				Your account is temporarily disabled.
			</div>

			<button
				routerLink="/aster_clinic/jumeirah/subscription/packages"
				class="h-full px-10 ml-auto text-2xl font-medium text-white rounded-xl bg-white/30 hover:bg-white/20 animate-pulse"
			>
				Subscription
			</button>
		</div>
	</div>
</ng-container>

<router-outlet></router-outlet>
