<div *ngIf="true" @slideInTop class="w-full">
	<app-toolbar
		class="w-full"
		[toolbar]="
			!(isInWaitingPatients$ | async)
				? appointMentsToolbar
				: waitingPatientsToolbar
		"
	></app-toolbar>
</div>

<ng-template #appointMentsToolbar>
	<dashboard-toolbar
		(onFilter)="filter()"
		(onSearch)="filter()"
		class="w-full"
	></dashboard-toolbar>
</ng-template>

<ng-template #waitingPatientsToolbar>
	<waiting-patients-toolbar
		(onFilter)="filter()"
		(onSearch)="filter()"
		class="w-full"
	></waiting-patients-toolbar>
</ng-template>

<router-outlet></router-outlet>
