<div *ngIf="true" @slideInTop class="w-full">
	<app-toolbar
		class="w-full"
		[toolbar]="
			!(isInWaitingPatients$ | async)
				? appointMentsToolbar
				: waitingPatientsToolbar
		"
	></app-toolbar>
</div>

<ng-template #appointMentsToolbar>
	<dashboard-toolbar
		(onFilter)="filter()"
		(onSearch)="filter()"
		class="w-full"
	></dashboard-toolbar>
</ng-template>

<ng-template #waitingPatientsToolbar>
	<waiting-patients-toolbar
		(onFilter)="filter()"
		(onSearch)="filter()"
		class="w-full"
	></waiting-patients-toolbar>
</ng-template>

<div @fadeInLeft *ngIf="true" class="px-10 -mt-5 mb-5">
	<div class="subscription w-full flex items-center py-3 px-2">
		<div class="text-2xl text-white font-medium md:ml-10">
			Your account is temporarily disabled.
		</div>

		<button
			routerLink="/aster_clinic/jumeirah/subscription/packages"
			class="text-2xl font-medium px-10 h-full rounded-xl bg-white/30 text-white ml-auto hover:bg-white/20"
		>
			Subscription
		</button>
	</div>
</div>

<router-outlet></router-outlet>
