<div style="background: #f7f8fa" class="w-full flex px-10 py-5 items-center z">
	<div class="font-extrabold text-xl accent-color">{{ modalTitle }}</div>

	<div class="flex ml-auto items-center">
		<div class="mr-2 tracking-wider text-gray-500 font-bold">Close</div>

		<div
			(click)="onClose.emit()"
			role="button"
			style="border: 1px solid #e3ebf5; border-radius: 6px"
			class="bg-white flex items-center justify-center p-1 hover:bg-zinc-50"
		>
			<mat-icon
				class="hover:text-zinc-400 text-gray-400 p-1"
				svgIcon="feather:x"
			></mat-icon>
		</div>
	</div>
</div>
