<div
	*ngIf="subscription$ | async as subscription"
	class="grid grid-cols-1 md:grid-cols-2 w-screen"
>
	<div
		class="text-white bg-emerald-500 w-full flex justify-center md:justify-end md:py-30"
	>
		<checkout-section1
			[subscription$]="subscription$"
			[interval$]="interval$"
			[billMultiplier]="billMultiplier"
			[additionalUsers]="additionalUsers"
		></checkout-section1>
	</div>

	<div class="w-full md:h-screen bg-emerald-50/20">
		<checkout-section2></checkout-section2>
	</div>
</div>
