<div class="grid grid-cols-1 md:grid-cols-2 w-screen">
	<div
		class="text-white bg-gray-50 w-full flex justify-center md:justify-end py-10"
	>
		<checkout-section1
			class="w-full"
			[interval$]="interval$"
			[subscription$]="subscription$"
			[billMultiplier]="billMultiplier"
			[additionalUsers]="additionalUsers"
		></checkout-section1>
	</div>

	<div class="w-full md:h-screen md:overflow-y-auto py-10">
		<checkout-section2
			class="w-full"
			[interval$]="interval$"
			[subscription$]="subscription$"
			[additionalUsers]="additionalUsers"
		></checkout-section2>
	</div>
</div>
