<div class="md:px-10 px-0 w-full mt-10 min-h-screen">
	<div class="md:rounded-xl bg-white py-5 px-10 w-full">
		<div class="text-3xl font-semibold mb-3 text-gray-700 flex w-full">
			<div>Departments</div>

			<button
				(click)="addMedicalServiceOpened$.next(true)"
				class="ml-auto flex items-center bg-emerald-500 text-white py-2 px-5 rounded-md g hover:bg-emerald-600/80 text-lg"
			>
				<mat-icon
					class="text-white mr-3 icon-size-5"
					svgIcon="feather:plus"
				></mat-icon>

				<div class="translate-y-.5">Add Department</div>
			</button>
		</div>

		<ul
			[@listAnimation]="
				((departments$ | async).entities | entities).length
			"
			class="inline-flex overflow-x-hidden whitespace-nowrap relative w-full"
		>
			<button
				[matMenuTriggerFor]="departmentMenu"
				class="absolute right-0 z-50 bg-white py-3 px-10 hover:bg-gray-50 text-lg flex items-center drop-shadow-xl"
			>
				More

				<mat-icon
					svgIcon="more_horiz"
					class="ml-2 text-gray"
				></mat-icon>
			</button>

			<mat-menu #departmentMenu="matMenu">
				<button
					*ngFor="
						let department of (departments$ | async).entities
							| entities;
						trackBy: identity;
						let i = index
					"
					mat-menu-item
					class="hover:bg-gray-200 text-gray-500 font-medium flex items-center"
					(click)="department$.next(department)"
					[ngClass]="{
						'bg-emerald-500 text-white pointer-events-none':
							(department$ | async).id === department.id
					}"
				>
					<span class="mr-5"> {{ department.name | titlecase }}</span>

					<mat-icon
						[ngClass]="{
							'text-white ':
								(department$ | async).id === department.id
						}"
						svgIcon="keyboard_arrow_right"
						class="ml-auto text-gray-500"
					></mat-icon>
				</button>
			</mat-menu>

			<li
				(click)="department$.next(department)"
				*ngFor="
					let department of (departments$ | async).entities
						| entities;
					trackBy: identity;
					let i = index
				"
				[ngClass]="{
					'bg-emerald-50/70 font-extrabold text-gray-900/80 pointer-events-none rounded-tr-md rounded-tl-md':
						(department$ | async)?.id === department.id,
					'font-semibold text-gray-600':
						(department$ | async)?.id !== department.id
				}"
				class="py-3 px-10 hover:bg-gray-50 text-lg"
				role="button"
			>
				{{ department.name | titlecase }}
			</li>
		</ul>

		<div style="min-height: 50vh" class="bg-emerald-50/70 w-full p-10 mb-5">
			<div class="flex items-center mb-10">
				<div
					@slideInTop
					*ngIf="department$ | async"
					class="text-3xl font-semibold mb-3 text-gray-700"
				>
					Medical Services
					<span class="text-gray-500 font-normal text-lg">
						({{ (department$ | async)?.name | titlecase }})</span
					>
				</div>

				<button
					(click)="remove()"
					class="ml-auto bg-white border text-emerald-500 border-emerald-500 py-2 px-10 font-semibold tracking-wide rounded-md hover:bg-red-50 hover:text-red-500 hover:border-red-500 text-md"
				>
					Delete
				</button>
			</div>

			<div class="grid grid-cols-1 md:grid-cols-3 gap-10">
				<clinic-service-item
					(onSelectMedicalService)="
						editClinicServiceModalOpened$.next(true)
					"
					*ngFor="let item of [1, 2, 3, 4, 5, 6]; trackBy: identity"
				>
				</clinic-service-item>
			</div>

			<div class="flex mt-10">
				<button
					(click)="addClinicServiceOpened$.next(true)"
					class="ml-auto flex items-center bg-emerald-500 text-white py-2 px-5 rounded-md g hover:bg-emerald-600/80 text-lg"
				>
					<mat-icon
						class="text-white mr-3 icon-size-5"
						svgIcon="feather:plus"
					></mat-icon>

					<div class="translate-y-.5">Add Services</div>
				</button>
			</div>
		</div>
	</div>
</div>
