<div class="md:px-10 px-0 w-full mt-10">
	<div class="md:rounded-xl bg-white py-5 px-10 w-full">
		<div class="text-3xl font-semibold mb-3 text-gray-700 flex w-full">
			<div>Services</div>

			<button
				class="ml-auto flex items-center bg-emerald-500 text-white py-2 px-5 rounded-md g hover:bg-emerald-600/80 text-lg"
			>
				<mat-icon
					class="text-white mr-3 icon-size-5"
					svgIcon="feather:plus"
				></mat-icon>

				<div class="translate-y-.5">Add Medical Service</div>
			</button>
		</div>

		<ul class="flex flex-wrap">
			<li
				*ngFor="
					let item of [1, 2, 3, 4, 5, 6];
					trackBy: identity;
					let i = index
				"
				[ngClass]="{
					'bg-emerald-50 font-extrabold text-black pointer-events-none rounded-tr-md rounded-tl-md':
						i === 0,
					'font-bold text-gray-600': i !== 0
				}"
				class="py-3 px-10 hover:bg-gray-50 text-lg"
				role="button"
			>
				Dentistry
			</li>
		</ul>

		<div style="min-height: 50vh" class="bg-emerald-50 w-full p-10 mb-5">
			<div class="flex">
				<button
					class="ml-auto flex items-center bg-white border text-emerald-500 border-emerald-500 py-2 px-10 font-semibold tracking-wide rounded-md g hover:bg-red-50 hover:text-red-500 hover:border-red-500 text-md"
				>
					Delete
				</button>
			</div>

			<div class="flex mt-10">
				<button
					class="ml-auto flex items-center bg-emerald-500 text-white py-2 px-5 rounded-md g hover:bg-emerald-600/80 text-lg"
				>
					<mat-icon
						class="text-white mr-3 icon-size-5"
						svgIcon="feather:plus"
					></mat-icon>

					<div class="translate-y-.5">Add Services</div>
				</button>
			</div>
		</div>
	</div>
</div>
