<div @expandCollapse *ngIf="ready" class="mb-10">
	<form
		[formGroup]="form"
		style="background: #f7f8fa"
		class="grid grid-cols-3 md:grid-cols-5 m-3 p-10 gap-x-10 items-center pointer-events-none"
	>
		<div class="flex items-center flex-col">
			<button
				*ngIf="!picturePreview"
				(click)="patientAvatar.click()"
				class="avatar bg-white rounded-full hover:border hover:border-gray-300"
			>
				<mat-icon
					class="icon-size-22 text-gray-300"
					svgIcon="feather:user"
				></mat-icon>
			</button>

			<img
				*ngIf="picturePreview"
				(click)="patientAvatar.click()"
				class="avatar bg-white rounded-full hover:border hover:border-gray-300"
				[src]="picturePreview"
				alt="Profile"
			/>

			<input
				accept="images/*"
				(change)="readFile($event)"
				type="file"
				class="hidden"
				#patientAvatar
			/>

			<div class="text-gray-400 text-center mt-3">Upload a Photo</div>
		</div>

		<div class="flex flex-col">
			<div class="text-lg font-bold text-gray-500 mb-4">
				Patient Information
			</div>

			<div class="mb-5">
				<label
					for="first_name"
					class="ml-1 font-normal text-gray-500 mb-1"
					>Name</label
				>

				<input
					#input
					id="first_name"
					formControlName="first_name"
					type="text"
					class="w-full bg-white rounded-sm px-5 focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
					style="height: 45px"
				/>
			</div>

			<div class="mb-5">
				<label
					for="middle_name"
					class="ml-1 font-normal text-gray-500 mb-1"
					>Middle Name</label
				>

				<input
					id="middle_name"
					formControlName="middle_name"
					type="text"
					class="w-full bg-white rounded-sm px-5 focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
					style="height: 45px"
				/>
			</div>

			<div class="mb-5">
				<label
					for="last_name"
					class="ml-1 font-normal text-gray-500 mb-1"
					>Last Name</label
				>

				<input
					id="last_name"
					formControlName="last_name"
					type="text"
					class="w-full bg-white rounded-sm px-5 focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
					style="height: 45px"
				/>
			</div>
		</div>

		<div class="flex flex-col md:pt-10">
			<div class="mb-5">
				<label
					for="birthday"
					class="ml-1 font-normal text-gray-500 mb-1"
					>Birthday</label
				>

				<input
					id="birthday"
					formControlName="birthday"
					type="date"
					class="w-full bg-white rounded-sm px-5 focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
					style="height: 45px"
				/>
			</div>

			<div class="mb-5 flex-col flex">
				<label class="ml-1 font-normal text-gray-500 mb-1">Age</label>

				<input
					disabled
					[value]="form.value.birthday | age"
					type="text"
					class="w-1/2 bg-white rounded-sm px-5 focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
					style="height: 45px"
				/>
			</div>

			<div class="mb-5">
				<label for="" class="ml-1 font-normal text-gray-500 mb-1"
					>Gender</label
				>

				<div class="flex">
					<button
						matRipple
						matRippleColor="rgba(11, 169, 118,.1)"
						(click)="form.value.gender = 'Female'"
						[ngClass]="{
							'bg-emerald-500 text-white pointer-events-none':
								form.value.gender === 'Female'
						}"
						class="gender-btn rounded-md font-semibold drop-shadow-md shadow-md hover:bg-gray-50"
					>
						F
					</button>

					<button
						matRipple
						matRippleColor="rgba(11, 169, 118,.1)"
						(click)="form.value.gender = 'Male'"
						[ngClass]="{
							'bg-emerald-500 text-white pointer-events-none':
								form.value.gender === 'Male'
						}"
						class="gender-btn rounded-md font-semibold drop-shadow-md shadow-md ml-2 hover:bg-gray-50"
					>
						M
					</button>
				</div>
			</div>
		</div>

		<div class="flex flex-col md:pt-10">
			<div class="mb-5">
				<label
					for="religion"
					class="ml-1 font-normal text-gray-500 mb-1"
					>Religion</label
				>

				<input
					id="religion"
					formControlName="religion"
					type="text"
					class="w-full bg-white rounded-sm px-5 focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
					style="height: 45px"
				/>
			</div>

			<div class="mb-5">
				<label
					for="phone_number"
					class="ml-1 font-normal text-gray-500 mb-1"
					>Phone</label
				>

				<input
					id="phone_number"
					formControlName="phone_number"
					type="text"
					class="w-full bg-white rounded-sm px-5 focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
					style="height: 45px"
				/>
			</div>

			<div class="mb-5">
				<label for="email" class="ml-1 font-normal text-gray-500 mb-1"
					>Email</label
				>

				<input
					id="email"
					formControlName="email"
					type="text"
					class="w-full bg-white rounded-sm px-5 focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
					style="height: 45px"
				/>
			</div>
		</div>

		<div class="flex flex-col">
			<!-- <button
				[ngClass]="{
					' text-emerald-500': !form.disabled,
					'text-gray-500 pointer-events-none': form.disabled
				}"
				(click)="update()"
				class="text-lg font-extrabold mb-4 ml-auto hover:underline"
			>
				Update
			</button> -->

			<div class="mb-5">
				<label class="ml-1 font-normal text-gray-500 mb-1"
					>Country</label
				>

				<country-form
					[bordered]="false"
					[rounded]="false"
					(onChangeCountry)="onChangeCountry($event)"
				></country-form>
			</div>

			<div class="mb-5">
				<label for="city" class="ml-1 font-normal text-gray-500 mb-1"
					>City</label
				>

				<select
					id="city"
					formControlName="city"
					class="w-full bg-white rounded-sm px-5 focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
					style="height: 45px"
				>
					<option *ngFor="let city of cities; trackBy: trackByFn">
						{{ city }}
					</option>
				</select>
			</div>

			<div class="mb-5">
				<label for="" class="ml-1 font-normal text-gray-500 mb-1"
					>Address</label
				>

				<input
					id="address"
					formControlName="address"
					type="text"
					class="w-full bg-white rounded-sm px-5 focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
					style="height: 45px"
				/>
			</div>
		</div>
	</form>
</div>
