<div class="flex items-center w-full">
	<button
		(click)="resolvePath(nav.link)"
		matRipple
		matRippleColor="rgba(11, 169, 118,.1)"
		*ngFor="let nav of dashboardTabs; trackBy: identity"
		[ngClass]="{
			' text-emerald-500 border-b-4 border-emerald-500':
				activeNavigation === nav.id,
			'text-gray-500': activeNavigation !== nav.id
		}"
		class="flex font-bold text-xl flex-row items-baseline mr-20 py-3 relative z-0 overflow-visible"
	>
		<div>
			{{ nav.name }}
		</div>

		<div
			*ngIf="nav.id | dashboard_count | async"
			[ngClass]="{
				'bg-emerald-500 badge text-white   font-normal':
					activeNavigation === nav.id,
				'bg-gray-100 badge text-gray-500 font-bold ':
					activeNavigation !== nav.id
			}"
			class="text-sm ml-3 -translate-y-.5 translate-x-10 z-10 rounded-full py-1 px-2 absolute right-0"
		>
			{{
				((nav.id | dashboard_count | async)?.entities | entities).length
					| toTime
			}}
		</div>
	</button>

	<div class="ml-auto items-cente flex">
		<mat-icon
			class="text-gray-400 mr-2 icon-size-5"
			svgIcon="heroicons_outline:calendar"
		></mat-icon>

		<div class="font-bold text-gray-700 mr-2 text-lg">
			{{ today | date: 'dd MMMM' }}
		</div>

		<div class="font-bold text-gray-400 mr-2 text-lg">Today</div>
	</div>

	<div
		style="width: 219px"
		class="ml-5 hidden md:flex items-center py-1.5 px-4 rounded-md border border-gray-300/80"
	>
		<input
			type="search"
			class="w-full"
			placeholder="Search Outreach Patients"
		/>

		<mat-icon
			class="text-gray-400 ml-auto"
			svgIcon="feather:search"
		></mat-icon>
	</div>

	<waiting-patients-filter
		class="hidden md:flex"
		(onFilter)="onFilter.emit()"
	></waiting-patients-filter>
</div>
