<div class="flex items-center w-full">
	<div @slideInBottom class="flex items-center mr-5">
		<button
			(click)="moveCalendarMonth('subtract')"
			mat-icon-button
			matTooltip="View March Appointments"
		>
			<mat-icon
				class="text-gray-400"
				svgIcon="heroicons_solid:chevron-left"
			></mat-icon>
		</button>

		<button
			(click)="moveCalendarMonth('add')"
			mat-icon-button
			matTooltip="View May Appointment"
		>
			<mat-icon
				class="text-gray-400"
				svgIcon="heroicons_solid:chevron-right"
			></mat-icon>
		</button>
	</div>

	<div class="items-center mr-5 hidden md:flex">
		<mat-icon
			class="text-gray-400 mr-2 icon-size-5"
			svgIcon="heroicons_outline:calendar"
		></mat-icon>

		<!-- Week -->
		<div
			@slideInBottom
			*ngIf="(mode === 'week' || mode === 'day') && weekDays$ | async"
			class="font-bold text-gray-700 mr-2 text-lg"
		>
			{{ date$ | async | date: 'MMMM dd yyyy' }}
		</div>

		<!-- Month -->
		<div
			@slideInBottom
			*ngIf="mode === 'month' && date$ | async"
			class="font-bold text-gray-700 mr-2 text-lg"
		>
			{{ date$ | async | date: 'MMMM yyyy' }}
		</div>
	</div>

	<div class="items-center hidden md:flex">
		<mat-icon
			class="text-gray-400 mr-2 icon-size-5"
			svgIcon="feather:clock"
		></mat-icon>

		<div class="font-bold text-gray-700 mr-2 text-lg">
			{{ today | date: 'hh:mm a' }}
		</div>
	</div>

	<div
		style="font-size: 14px"
		class="ml-auto md:mx-auto px-1 py-1 bg-gray-100 rounded-md md:-translate-x-20 flex items-center"
	>
		<div
			*ngFor="let toolbar of toolbars; trackBy: trackByFn"
			mat-button
			[matTooltip]="toolbar.name + ' Layout'"
			(click)="resolveRoute(toolbar.link)"
			[ngClass]="{
				'text-emerald-500 bg-white pointer-events-none font-bold':
					mode === toolbar.link,
				'text-gray-400 ': mode !== toolbar.link
			}"
			role="button"
			class="px-5 py-1 hover:bg-gray-400/20 rounded-md hover:text-gray-600"
		>
			{{ toolbar.name }}
		</div>
	</div>

	<div
		style="width: 250px"
		class="ml-5 hidden md:flex items-center py-1.5 px-4 rounded-md border border-gray-300/80"
	>
		<select (change)="filter($event.target.value)" class="w-full">
			<option [value]="null">All Doctors</option>

			<option
				[value]="doctor.id"
				*ngFor="
					let doctor of (doctors$ | async).entities | entities;
					trackBy: trackByFn
				"
			>
				{{ doctor.name }}
			</option>
		</select>
	</div>
</div>
