<!-- Modals  -->
<appointment-add
	stop-propagation
	(click)="addAppointmentModalOpened$.next(false)"
	*ngIf="addAppointmentModalOpened$ | async"
	@fadeOut
	style="z-index: 999; background: rgba(10, 36, 64, 0.7)"
	class="fixed w-screen h-screen flex"
></appointment-add>

<clinic-department-add
	stop-propagation
	(click)="addDepartmentModalOpened$.next(false)"
	*ngIf="addDepartmentModalOpened$ | async"
	@fadeOut
	style="z-index: 999; background: rgba(10, 36, 64, 0.7)"
	class="fixed w-screen h-screen flex"
></clinic-department-add>

<clinic-services-add
	stop-propagation
	(click)="addClinicServiceModalOpened$.next(false)"
	*ngIf="addClinicServiceModalOpened$ | async"
	@fadeOut
	style="z-index: 999; background: rgba(10, 36, 64, 0.7)"
	class="fixed w-screen h-screen flex"
>
</clinic-services-add>

<clinic-services-edit
	stop-propagation
	(click)="editClinicServiceModalOpened$.next(false)"
	*ngIf="editClinicServiceModalOpened$ | async"
	@fadeOut
	style="z-index: 999; background: rgba(10, 36, 64, 0.7)"
	class="fixed w-screen h-screen flex"
>
</clinic-services-edit>

<patient-add
	stop-propagation
	(click)="addPatientModalOpened$.next(false)"
	*ngIf="addPatientModalOpened$ | async"
	@fadeOut
	style="z-index: 999; background: rgba(10, 36, 64, 0.7)"
	class="fixed w-screen h-screen flex"
></patient-add>

<doctor-add
	stop-propagation
	(click)="addDoctorModalOpened$.next(false)"
	*ngIf="addDoctorModalOpened$ | async"
	@fadeOut
	style="z-index: 999; background: rgba(10, 36, 64, 0.7)"
	class="fixed w-screen h-screen flex"
></doctor-add>

<doctor-availability
	stop-propagation
	(click)="doctorAvailabilityModalOpened$.next(false)"
	*ngIf="doctorAvailabilityModalOpened$ | async"
	@fadeOut
	style="z-index: 999; background: rgba(10, 36, 64, 0.7)"
	class="fixed w-screen h-screen flex"
></doctor-availability>

<doctor-details
	stop-propagation
	(click)="doctorDetailsModalOpened$.next(false)"
	*ngIf="doctorDetailsModalOpened$ | async"
	@fadeOut
	style="z-index: 999; background: rgba(10, 36, 64, 0.7)"
	class="fixed w-screen h-screen flex"
></doctor-details>

<dashboard-appointment-details
	stop-propagation
	(click)="dashboardAppointmentDetailsModalOpened$.next(false)"
	*ngIf="dashboardAppointmentDetailsModalOpened$ | async"
	@fadeOut
	style="z-index: 999; background: rgba(10, 36, 64, 0.7)"
	class="fixed w-screen h-screen flex"
></dashboard-appointment-details>

<dashboard-appointment-select-doctor
	stop-propagation
	(click)="dashboardAppointmentSelectDoctorModalOpened$.next(false)"
	*ngIf="dashboardAppointmentSelectDoctorModalOpened$ | async"
	@fadeOut
	style="z-index: 999"
	class="fixed w-screen h-screen flex"
></dashboard-appointment-select-doctor>

<dashboard-appointment-select-time-slot
	stop-propagation
	(click)="dashboardAppointmentSelectTimeSlotModalOpened$.next(false)"
	*ngIf="dashboardAppointmentSelectTimeSlotModalOpened$ | async"
	@fadeOut
	style="z-index: 999"
	class="fixed w-screen h-screen flex"
>
</dashboard-appointment-select-time-slot>

<subscription-invoices
	stop-propagation
	(click)="subscriptionInvoicesModalOpened$.next(false)"
	*ngIf="subscriptionInvoicesModalOpened$ | async"
	@fadeOut
	style="z-index: 999; background: rgba(10, 36, 64, 0.7)"
	class="fixed w-screen h-screen flex"
>
</subscription-invoices>

<doctor-confirm-delete
	stop-propagation
	(click)="confirmDeleteDoctorModalOpened$.next(false)"
	*ngIf="confirmDeleteDoctorModalOpened$ | async"
	@fadeOut
	style="z-index: 999"
	class="fixed w-screen h-screen flex"
></doctor-confirm-delete>

<!-- Modals  -->

<router-outlet></router-outlet>

<div
	[@listAnimation]="(alerts$ | async)!.length"
	class="fixed bottom-5 md:right-10 right-0 z-50"
>
	<alert
		[alert]="alert"
		*ngFor="let alert of alerts$ | async; trackBy: identity"
	></alert>
</div>
