<modal-appointment></modal-appointment>

<modal-doctor></modal-doctor>

<modal-patient></modal-patient>

<modal-clinic></modal-clinic>

<modal-subscription></modal-subscription>

<!-- 
    This is should be at the bottom of all modals
-->
<modal-dashboard></modal-dashboard>

<router-outlet></router-outlet>

<ng-container *ngIf="breakpoint$ | async as breakpoint">
	<div
		class="fixed right-0 bottom-5 md:right-10"
		style="z-index: 9999999999999999999"
	>
		<alert
			role="button"
			(click)="removeAlert(alert.id)"
			[alert]="alert"
			*ngFor="let alert of alerts$ | async"
		></alert>
	</div>
</ng-container>
