<!-- Modals  -->
<appointment-add
	stop-propagation
	(click)="addAppointmentModalOpened$.next(false)"
	*ngIf="addAppointmentModalOpened$ | async"
	@fadeOut
	style="z-index: 999; background: rgba(10, 36, 64, 0.7)"
	class="fixed w-screen h-screen flex"
></appointment-add>

<!-- Modals  -->

<router-outlet></router-outlet>

<div
	[@listAnimation]="(alerts$ | async)!.length"
	class="fixed bottom-5 md:right-10 right-0 z-50"
>
	<alert
		[alert]="alert"
		*ngFor="let alert of alerts$ | async; trackBy: identity"
	></alert>
</div>
