<div
	*ngIf="items.length !== 0"
	class="flex px-5 py-3 bg-white min-w-1/2 drop-shadow-sm rounded-md items-center"
>
	<button
		mat-button
		(click)="onPageChange.emit(link.url)"
		[ngClass]="{
			'pointer-events-none bg-emerald-500 text-white': link.active,
			'text-gray-400': !link.active
		}"
		class="mx-0.5"
		*ngFor="let link of items; trackBy: trackByFn; let i = index"
	>
		{{ link.label }}
	</button>

	<div class="mx-5"></div>

	<div class="flex ml-auto text-gray-400">
		Page {{ table.meta.current_page }} out of
		{{ table.meta.last_page }} pages
	</div>
</div>
