.day {
	min-height: 70px;
	border: 1px solid #cfdae8;
	padding: 0 10px;
	border-right: 0;
	border-top: 0;
	overflow: hidden;
}

.circle {
	width: 13px;
	height: 13px;
	background: #00b074 0% 0% no-repeat padding-box;
}
