<home-navbar></home-navbar>

<div class="min-h-screen flex items-center justify-center w-full">
	<div class="w-full max-w-screen-sm flex items-center justify-center">
		<form
			*ngIf="!validated"
			[formGroup]="form"
			@slideInBottom
			class="flex items-center justify-center w-3/4 flex-col"
		>
			<div
				class="flex items-center justify-center h-24 w-24 bg-emerald-50 mb-5 rounded-full"
			>
				<i class="bi bi-key-fill text-emerald-500 text-4xl"></i>
			</div>

			<div class="text-3xl text-center accent-color">
				Set new Password
			</div>

			<div class="text-lg text-gray-400 text-center mt-2 font-normal">
				You are one step closer in resetting your password.
			</div>

			<mat-form-field class="w-full mt-8">
				<mat-label>Password</mat-label>

				<mat-icon
					matPrefix
					class="icon-size-5 text-emerald-500/40"
					[svgIcon]="'lock_open'"
				></mat-icon>
				<input
					#password
					matInput
					type="password"
					formControlName="password"
					class="w-full border rounded-lg py-3"
				/>

				<mat-error
					>Password is and at least 8 characters long
					required</mat-error
				>
			</mat-form-field>

			<mat-form-field class="w-full">
				<mat-label>Confirm Password</mat-label>

				<mat-icon
					matPrefix
					class="icon-size-5 text-emerald-500/40"
					[svgIcon]="'lock_open'"
				></mat-icon>
				<input
					#password
					matInput
					type="password"
					formControlName="password_confirmation"
					class="w-full border rounded-lg py-3"
				/>

				<mat-error>Confirm Password must match</mat-error>
			</mat-form-field>

			<button
				[ngClass]="{
					' pointer-events-none opacity-40':
						!form.valid || form.disabled
				}"
				(click)="send()"
				class="w-full justify-center bg-emerald-500 mt-8 hover:bg-emerald-500 text-white p-3 px-16 text-xl mb-3 flex items-center mx-auto rounded-md"
			>
				<div *ngIf="!form.disabled">Reset Password</div>

				<div *ngIf="form.disabled">
					Sending your password reset form...
				</div>
			</button>

			<a
				routerLink="/"
				role="button"
				class="flex items-center mt-10 text-gray-500"
			>
				<i class="bi bi-arrow-left"></i>

				<div class="ml-2 hover:text-black">Back to Sign In</div>
			</a>
		</form>

		<div
			*ngIf="validated"
			[formGroup]="form"
			@slideInBottom
			class="flex items-center justify-center w-3/4 flex-col"
		>
			<div
				class="flex items-center justify-center h-24 w-24 bg-emerald-50 mb-5 rounded-full"
			>
				<i class="bi bi-check2-circle text-emerald-500 text-4xl"></i>
			</div>

			<div class="text-3xl text-center">Password has been reset</div>

			<div class="text-lg text-gray-400 text-center mt-2 font-normal">
				Your password has been successfully reset. Click below to login
				magically.
			</div>

			<button
				(click)="login()"
				[ngClass]="{
					'bg-emerald-500':
						!isProcessing &&
						form.value.password_confirmation ===
							form.value.password,
					'bg-gray-400 pointer-events-none':
						isProcessing ||
						form.value.password_confirmation !== form.value.password
				}"
				class="w-full justify-center hover:bg-emerald-500 text-white p-3 px-16 text-xl mb-3 flex items-center mx-auto rounded-md"
			>
				<div>Continue</div>
			</button>

			<a
				routerLink="/"
				role="button"
				class="flex items-center mt-5 text-gray-500"
			>
				<i class="bi bi-arrow-left"></i>

				<div class="ml-2 hover:text-black">Back to Sign In</div>
			</a>
		</div>
	</div>
</div>

<footer></footer>
