<home-navbar></home-navbar>

<div class="min-h-screen flex items-center justify-center w-full">
	<div class="w-full max-w-screen-sm flex items-center justify-center">
		<form
			*ngIf="!validated"
			[formGroup]="form"
			@slideInBottom
			class="flex items-center justify-center w-3/4 flex-col"
		>
			<div
				class="flex items-center justify-center h-24 w-24 bg-emerald-50 mb-5 rounded-full"
			>
				<i class="bi bi-key-fill text-emerald-500 text-4xl"></i>
			</div>

			<div class="text-3xl text-center accent-color">
				Set new Password
			</div>

			<div class="text-lg text-gray-400 text-center mt-2 font-normal">
				You are one step closer in resetting your password.
			</div>

			<div class="form flex flex-col w-full mb-5 mt-5">
				<label for="password" class="mb-2">Password</label>

				<input
					#password
					id="password"
					type="password"
					formControlName="password"
					[ngClass]="{
						'animate__headShake border-red-300':
							form.get('password')?.invalid &&
							form.get('password')?.touched
					}"
					class="animate__animated w-full border rounded-lg px-5 py-3"
				/>

				<div
					*ngIf="
						form.get('password')?.touched &&
						form.get('password')?.invalid
					"
					@slideInBottom
					class="text-rose-500 text-base -mb-1 font-light"
				>
					Password is required and should be at least 5 characters.
				</div>
			</div>

			<div class="form flex flex-col w-full mb-5">
				<label for="password_confirmation" class="mb-2"
					>Confirm Password</label
				>

				<input
					id="password_confirmation"
					type="password"
					formControlName="password_confirmation"
					[ngClass]="{
						'animate__headShake border-red-300':
							form.get('password_confirmation')?.invalid &&
							form.get('password_confirmation')?.touched &&
							form.value.password !== password
					}"
					class="animate__animated w-full border rounded-lg px-5 py-3"
				/>

				<div
					*ngIf="
						form.get('password_confirmation')?.invalid &&
						form.get('password_confirmation')?.touched &&
						form.value.password !== form.value.password_confirmation
					"
					@slideInBottom
					class="text-rose-500 text-base -mb-1 font-light"
				>
					Confirm password doesn't match
				</div>
			</div>

			<button
				[ngClass]="{
					'bg-emerald-500': form.valid && !form.disabled,
					'bg-gray-400 pointer-events-none':
						!form.valid || form.disabled
				}"
				(click)="send()"
				class="w-full justify-center hover:bg-emerald-500 text-white p-3 px-16 text-xl mb-3 flex items-center mx-auto rounded-md"
			>
				<div *ngIf="!form.disabled">Reset Password</div>

				<div *ngIf="form.disabled">
					Sending your password reset form...
				</div>
			</button>

			<a
				routerLink="/"
				role="button"
				class="flex items-center mt-10 text-gray-500"
			>
				<i class="bi bi-arrow-left"></i>

				<div class="ml-2 hover:text-black">Back to Sign In</div>
			</a>
		</form>

		<div
			*ngIf="validated"
			[formGroup]="form"
			@slideInBottom
			class="flex items-center justify-center w-3/4 flex-col"
		>
			<div
				class="flex items-center justify-center h-24 w-24 bg-emerald-50 mb-5 rounded-full"
			>
				<i class="bi bi-check2-circle text-emerald-500 text-4xl"></i>
			</div>

			<div class="text-3xl text-center">Password has been reset</div>

			<div class="text-lg text-gray-400 text-center mt-2 font-normal">
				Your password has been successfully reset. Click below to login
				magically.
			</div>

			<button
				(click)="login()"
				[ngClass]="{
					'bg-emerald-500':
						!isProcessing &&
						form.value.password_confirmation ===
							form.value.password,
					'bg-gray-400 pointer-events-none':
						isProcessing ||
						form.value.password_confirmation !== form.value.password
				}"
				class="w-full mt-10 justify-center hover:bg-emerald-500 text-white p-3 px-16 text-xl mb-3 flex items-center mx-auto rounded-md"
			>
				<div>Continue</div>
			</button>

			<a
				routerLink="/"
				role="button"
				class="flex items-center mt-10 text-gray-500"
			>
				<i class="bi bi-arrow-left"></i>

				<div class="ml-2 hover:text-black">Back to Sign In</div>
			</a>
		</div>
	</div>
</div>

<footer></footer>
