.custom-border-green {
	width: 137px;
	height: 6px;
	/* UI Properties */
	background: #00b074 0% 0% no-repeat padding-box;
	border-radius: 7px;
}

.photo {
	width: 194px;
	height: 194px;
	border: 1px solid #cfdae8;
}
