<div *ngIf="true" @slideInTop class="w-full">
	<app-toolbar class="w-full" [toolbar]="noToolbar"></app-toolbar>
	<ng-template #noToolbar></ng-template>
</div>

<div class="md:px-10 px-0 w-full">
	<div
		style="min-height: 80vh"
		class="md:rounded-xl bg-white px-5 pr-0 w-full pt-5"
	>
		<div class="accent-color text-3xl ml-5 font-semibold py-2">
			Settings
		</div>

		<div class="text-xs text-gray-400 ml-5">
			Manage your personal information and security of your Mawedy
			account.
		</div>

		<div class="custom-border-green translate-y-5"></div>

		<hr class="mt-4" />

		<div class="grid grid-cols-1 md:grid-cols-4 pr-5 md:p-10 gap-10">
			<div class="flex flex-col items-center md:items-start mx-auto">
				<button
					(click)="avatar.click()"
					class="photo flex flex-col items-center justify-center hover:bg-gray-50 rounded-full"
				>
					<mat-icon
						class="text-gray-400 icon-size-10"
						svgIcon="feather:upload"
					></mat-icon>
				</button>

				<input type="file" #avatar class="hidden" />

				<button
					mat-button
					class="mt-10 mx-auto flex items-center bg-emerald-500 text-white py-2 px-5 rounded-md g hover:bg-emerald-600/80"
				>
					Update personal info
				</button>
			</div>

			<div>
				<div
					class="font-extrabold tracking-wider accent-color text-xl mb-10"
				>
					Personal Information
				</div>

				<div class="mb-5">
					<div class="mb-1 font-bold accent-color text-lg ml-3">
						Username
					</div>

					<input
						#input
						type="text"
						class="datalist py-3 px-4 rounded-md border-gray-500/20 border w-full focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20 shadow-md shadow-gray-500/10"
					/>
				</div>

				<div class="mb-5">
					<div class="mb-1 font-bold accent-color text-lg ml-3">
						First Name
					</div>

					<input
						#input
						type="text"
						class="datalist py-3 px-4 rounded-md border-gray-500/20 border w-full focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20 shadow-md shadow-gray-500/10"
					/>
				</div>

				<div class="mb-5">
					<div class="mb-1 font-bold accent-color text-lg ml-3">
						Last Name
					</div>

					<input
						#input
						type="text"
						class="datalist py-3 px-4 rounded-md border-gray-500/20 border w-full focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20 shadow-md shadow-gray-500/10"
					/>
				</div>
			</div>

			<div>
				<div
					class="font-extrabold tracking-wider accent-color text-xl mb-10"
				>
					Security
				</div>

				<div class="mb-5">
					<div class="mb-1 font-bold accent-color text-lg ml-3">
						Password
					</div>

					<input
						#input
						type="password"
						class="datalist py-3 px-4 rounded-md border-gray-500/20 border w-full focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20 shadow-md shadow-gray-500/10"
					/>
				</div>

				<div class="mb-5">
					<div class="mb-1 font-bold accent-color text-lg ml-3">
						New Password
					</div>

					<input
						#input
						type="password"
						class="datalist py-3 px-4 rounded-md border-gray-500/20 border w-full focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20 shadow-md shadow-gray-500/10"
					/>
				</div>

				<div class="mb-5">
					<div class="mb-1 font-bold accent-color text-lg ml-3">
						Confirm New Password
					</div>

					<input
						#input
						type="password"
						class="datalist py-3 px-4 rounded-md border-gray-500/20 border w-full focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20 shadow-md shadow-gray-500/10"
					/>
				</div>
			</div>

			<div></div>
		</div>
	</div>
</div>
