<div
	animateJs
	stop-propagation
	class="m-auto bg-white h-auto w-full md:w-1/4 rounded-xl overflow-hidden animate__flipInX animate__faster"
>
	<modal-header
		modalTitle="Add Department"
		(onClose)="opened$.next(false)"
	></modal-header>

	<div class="px-10 py-5 h-auto bg-white">
		<div class="mb-5">
			<div class="mb-1 font-bold accent-color text-md">Department</div>

			<input
				#input
				type="text"
				class="py-3 px-4 rounded-md border-gray-300/80 border w-full focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
				placeholder="Type Department"
			/>

			<div class="text-sm text-rose-500">Department is required.</div>
		</div>

		<div class="flex">
			<button
				mat-button
				class="ml-auto hover:bg-emerald-600 rounded-lg px-10 py-5 font-bold text-white bg-emerald-500 border-2 border-emerald-500 shadow-md shadow-emerald-500/50"
			>
				Save
			</button>
		</div>
	</div>
</div>
