<div class="md:px-10 px-0 w-full">
	<div style="height: 80vh" class="md:rounded-xl bg-white px-5 pr-0 w-full">
		<div class="flex flex-col flex-auto overflow-x-auto h-full bg-white">
			<table class="min-w-240 overflow-y-visible mt-4">
				<thead style="height: 42px" class="sticky top-0 bg-white pt-4">
					<tr class="text-gray-400 border-b border-b-gray-100">
						<th>Date</th>
						<th>Time</th>
						<th>Patient</th>
						<th>Doctor</th>
						<th>Type</th>
						<th>Status</th>
						<th>Booking Ref.</th>
						<th></th>
					</tr>
				</thead>
				<tbody [@listAnimation]="appointments.length">
					<tr
						style="height: 60px"
						class="accent-color font-semibold"
						*ngFor="
							let appointment of appointments;
							trackBy: identity
						"
					>
						<td>{{ appointment.date | date: 'dd MMMM' }}</td>
						<td>
							{{ appointment.start_time | toTwelve }} -
							{{ appointment.end_time | toTwelve }}
						</td>
						<td
							(click)="viewPatient(appointment.patient)"
							role="button"
							class="underline hover:text-emerald-500"
						>
							{{ appointment.patient.first_name }}
							{{ appointment.patient.middle_name }}
							{{ appointment.patient.last_name }}
						</td>
						<td
							(click)="viewDoctor(appointment.doctor)"
							role="button"
							class="underline hover:text-emerald-500"
						>
							{{ appointment.doctor.name }}
						</td>
						<td>{{ appointment.type }}</td>
						<td
							[ngClass]="{
								'pointer-events-none':
									appointment.status !== 'Confirmed'
							}"
							role="button"
							[matMenuTriggerFor]="userStatus"
						>
							<div class="flex items-center">
								<dashboard-status
									[color]="resolveColor(appointment)"
								></dashboard-status>

								<div class="ml-2">{{ appointment.status }}</div>

								<mat-icon
									role="button"
									*ngIf="appointment.status === 'Confirmed'"
									class="ml-2"
									svgIcon="mat_solid:arrow_drop_down"
								></mat-icon>

								<mat-menu
									[xPosition]="'after'"
									#userStatus="matMenu"
									class="rounded-md"
								>
									<button
										class="flex items-center"
										(click)="
											setStatus(appointment, 'Cancelled')
										"
										mat-menu-item
									>
										<dashboard-status
											class="mr-2"
											[color]="'red'"
										></dashboard-status>

										<span>Cancelled</span>
									</button>

									<button
										class="flex items-center"
										(click)="setStatus(appointment, 'Done')"
										mat-menu-item
									>
										<dashboard-status
											class="mr-2"
											[color]="'blue'"
										></dashboard-status>

										<span>Done</span>
									</button>
								</mat-menu>
							</div>
						</td>
						<td>
							{{ appointment.type_code
							}}{{ appointment.id | uppercase }}
						</td>
						<td
							(click)="viewAppointment(appointment)"
							role="button"
							class="underline hover:text-emerald-500"
						>
							Details
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
