<div
	role="button"
	class="py-2"
	*ngIf="((appointments$ | async).entities | entities)?.length !== 0"
	[@listAnimation]="
		((appointments$ | async).entities | entities)?.length.length
	"
>
	<div
		hideIfDoesNotMatchTime
		[matchTime]="true"
		[time]="time"
		(click)="viewAppointment(appointment)"
		[ngClass]="{
			blue: appointment.type_code === 'Aw',
			green: appointment.type_code !== 'Aw'
		}"
		*ngFor="
			let appointment of (appointments$ | async).entities
				| entities
				| filter_by_date: date
				| sortBy: 'start_time'
				| filter_by_doctor: (doctor$ | async);
			trackBy: identity
		"
		filterByCurrentDate
		[appointment]="appointment"
		[date]="date"
		class="blue whitespace-nowrap overflow-hidden text-ellipsis p-2 text-sm mt-1 accent-color font-bold flex items-center"
	>
		{{ appointment.start_time | toTwelve | uppercase }} -
		{{ appointment.doctor.name }} & {{ appointment.patient.first_name }}
		{{ appointment.patient.middle_name }}
		{{ appointment.patient.last_name }}

		<div class="ml-auto">
			{{
				appointment.type_code === 'Aw'
					? 'Through Clinic'
					: 'App Patient'
			}}
		</div>
	</div>
</div>
