<div>
	<div class="text-4xl font-bold mb-3 text-emerald-500 md:w-3/4 text-center">
		Partner with us!
	</div>

	<div class="mb-10 md:w-3/4 text-center text-2xl font-bold">
		Benefits of being a Mawedy partner.
	</div>

	<input type="file" #tradeLicense class="hidden" />

	<div class="mb-5">
		<div class="mb-1 font-bold text-gray-500 text-lg">User Name</div>

		<input
			#input
			type="text"
			class="py-3 px-4 rounded-lg border-gray-300/80 border w-full md:w-3/4"
		/>
	</div>

	<div class="mb-5">
		<div class="mb-1 font-bold text-gray-500 text-lg">Trade License</div>

		<button
			(click)="tradeLicense.click()"
			class="text-white px-10 py-3 rounded-lg ml-auto bg-sky-500 hover:bg-sky-600"
		>
			Upload
		</button>

		<div class="mt-2 text-emerald-500">Trade License.pdf</div>
	</div>

	<div class="mb-5">
		<div class="mb-1 font-bold text-gray-500 text-lg">Subscription</div>

		<select
			class="py-3 px-4 rounded-lg border-gray-300/80 border w-full md:w-3/4"
		>
			<option>Gold</option>
		</select>
	</div>

	<div class="grid grid-cols-8 gap-10">
		<div class="mb-5">
			<div class="mb-1 font-bold text-gray-500 text-lg">Users</div>

			<input
				value="2"
				disabled
				type="number"
				class="py-3 px-4 rounded-lg border-gray-300/80 border w-full"
			/>
		</div>

		<div class="mb-5 col-span-2">
			<div class="mb-1 font-bold text-gray-500 text-lg">1st acct.</div>

			<input
				class="py-3 px-4 rounded-lg border-gray-300/80 border w-full"
				placeholder="Account name"
			/>
		</div>

		<div class="mb-5 col-span-2">
			<div class="mb-1 font-bold text-gray-500 text-lg">2nd acct.</div>

			<input
				class="py-3 px-4 rounded-lg border-gray-300/80 border w-full"
				placeholder="Account name"
			/>
		</div>
	</div>

	<div
		class="border border-emerald-500 text-emerald-500 bg-emerald-50 p-5 rounded-lg my-5 md:w-3/4"
	>
		Thank you for reaching out to us.We are reviewing your information and
		we will contact you as soon as you get approved.
	</div>

	<div class="mt-5 flex w-full md:w-3/4">
		<button
			(click)="onBack.emit()"
			class="px-10 py-3 rounded-lg ml-auto border-sky-500 bg-sky-50 text-sky-500 hover:bg-slate-100"
		>
			Back
		</button>

		<button
			class="text-white px-10 py-3 rounded-lg ml-4 bg-sky-500 hover:bg-sky-600 flex items-center"
		>
			<spinner></spinner>
			Register
		</button>
	</div>
</div>
