<div class="w-screen px-5 md:w-full">
	<input type="file" #tradeLicense class="hidden" />

	<div class="mb-5">
		<div class="mb-1 font-bold text-gray-500 text-lg">Trade License</div>

		<button
			(click)="tradeLicense.click()"
			class="text-white px-10 py-3 rounded-lg ml-auto bg-teal-500 hover:bg-teal-600"
		>
			Upload
		</button>

		<div class="mt-2 text-teal-500">Trade License.pdf</div>
	</div>

	<div class="mb-5">
		<div
			class="mb-1 font-bold text-gray-500 text-lg flex items-center md:w-3/4"
		>
			Subscription

			<button
				mat-icon-button
				title="View Subscription Packages"
				class="text-teal-500 hover:text-emerald-500 ml-auto"
				mat-icon-button
			>
				<mat-icon svgIcon="info"></mat-icon>
			</button>
		</div>

		<select
			class="py-3 px-4 rounded-md border-gray-300/80 border w-full md:w-3/4 focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20"
		>
			<option>Free</option>
			<option>Standard</option>
			<option>Golden</option>
			<option>Platinum</option>
		</select>

		<div class="text-sm text-rose-500">Subscription is required.</div>
	</div>

	<div class="mb-5">
		<div
			class="mb-1 font-bold text-gray-500 text-lg flex items-center md:w-3/4"
		>
			<div>
				You can add up to
				<span class="font-bold text-emerald-500 mx-2">9</span> users
			</div>

			<div class="ml-auto">
				<button
					mat-flat-button
					class="text-white rounded-md px-3 py-1 ml-auto bg-teal-500 hover:bg-teal-600 flex items-center"
				>
					<mat-icon
						class="text-white mr-2"
						svgIcon="feather:plus"
					></mat-icon>

					Add account
				</button>
			</div>
		</div>
	</div>

	<mat-divider
		class="my-2 mb-5 md:w-3/4 border-b border-zinc-100"
	></mat-divider>

	<div class="grid grid-cols-1 md:grid-cols-2 gap-10 gap-y-2 md:w-3/4">
		<div
			*ngFor="
				let item of [1, 2, 3, 4, 5, 6];
				let i = index;
				trackBy: identity
			"
			class=""
		>
			<div class="mb-1 font-bold text-gray-500 text-lg flex items-center">
				Account {{ i + 1 }}

				<button
					mat-icon-button
					title="Remove Account"
					class="ml-auto text-gray-200 hover:text-rose-400 translate-y-12 -translate-x-2"
					mat-icon-button
				>
					<mat-icon svgIcon="person_remove"></mat-icon>
				</button>
			</div>

			<input
				class="py-3 px-4 rounded-md border-gray-300/80 border w-full focus:border-teal-500 focus:border-2 focus:shadow-md focus:shadow-teal-500/20 placeholder-gray-400"
			/>

			<div class="text-sm text-rose-500">
				Account {{ i + 1 }} is required.
			</div>
		</div>
	</div>

	<div
		*ngIf="true"
		@slideInBottom
		style="width: 300px"
		class="w-full my-2 p-5 rounded-sm bg-gradient-to-br from-emerald-200/20 via-white/20 to-white backdrop-blur-md flex items-center border border-teal-200 mt-10 mb-0 md:w-3/4"
	>
		<mat-icon class="text-emerald-500" svgIcon="success"></mat-icon>

		<div class="ml-4">
			<div class="text-emerald-500 font-extrabold">
				Thank you for reaching out to us.
			</div>
			<div class="text-gray-500 font-medium">
				We are reviewing your information and we will contact you as
				soon as you get approved.
			</div>
		</div>
	</div>

	<div class="mt-5 flex md:flex-row flex-col w-full md:w-3/4">
		<button
			(click)="onBack.emit()"
			class="px-10 py-3 rounded-lg ml-auto border-teal-500 bg-teal-50 text-teal-500 hover:bg-slate-100 w-full md:w-auto"
		>
			Back
		</button>

		<button
			class="text-white px-10 py-3 rounded-lg md:ml-5 bg-teal-500 hover:bg-teal-600 flex justify-center items-center w-full md:w-auto"
		>
			<spinner></spinner>
			Register
		</button>
	</div>
</div>
