<div
	[ngClass]="{ 'border-gray-300/80 border': bordered, 'rounded-lg': rounded }"
	class="py-3 px-4 w-full flex items-center bg-white"
>
	<img
		[src]="'https://flagcdn.com/64x48/' + country_code1 + '.png'"
		class="rounded-sm object-fill w-4 scale-150"
		alt="Flag"
	/>

	<div class="ml-2 border-r border-r-gray-300">
		<select
			(change)="change($event)"
			[(ngModel)]="country_code"
			class="pl-2 pr-5"
		>
			<option [value]="country.code" *ngFor="let country of countries">
				{{ country.code }} ({{ country.dial_code }})
			</option>
		</select>
	</div>

	<input
		(input)="this.emit()"
		[(ngModel)]="phoneNumber"
		mask="00-000-0000"
		type="tel"
		class="h-full px-2 w-3/4"
		maxlength="15"
		placeholder="50-123-45678"
	/>
</div>
