<form
	*ngIf="form"
	#ngForm="ngForm"
	[formGroup]="form"
	class="p-5 md:px-20 md:pr-30 md:py-40 font-normal max-w-screen-sm"
>
	<div class="text-2xl accent-color mb-5">Pay with card</div>

	<div class="text-lg text-gray-600 mb-1">Contact Information</div>

	<div
		@slideInTop
		class="rounded-2xl border border-gray-200 w-full overflow-hidden shadow-md shadow-emerald-200/20 bg-white mb-10"
	>
		<div class="border-b border-b-gray-200 px-3">
			<input
				#input
				type="email"
				autocomplete="email"
				formControlName="email"
				(input)="form.value.email = $event.target.value"
				placeholder="johndoe@example.com"
				class="py-2 px-3 w-full"
			/>
		</div>

		<div class="px-3">
			<mobile-number-form
				(onMobileNumberChange)="
					form.value.phone_number_one_country_code =
						$event.countryCode;
					form.value.phone_number_one = $event.phoneNumber
				"
				[phoneNumber]="form.value.phone_number_one"
				[bordered]="false"
				[rounded]="false"
				class="w-full"
			></mobile-number-form>
		</div>
	</div>

	<div class="text-lg text-gray-600 mb-1">Card Information</div>

	<div
		@slideInTop
		class="rounded-2xl border border-gray-200 w-full overflow-hidden shadow-md shadow-emerald-200/20 bg-white mb-10"
	>
		<div class="border-b border-b-gray-200 px-3">
			<card-number-form
				(onCardNumberChange)="onCardNumberChange($event)"
			></card-number-form>
		</div>

		<div class="px-5 grid grid-cols-2">
			<input
				type="text"
				autocomplete="card_expiry"
				(input)="form.value.expiry = $event.target.value"
				placeholder="MM/YY"
				mask="00/00"
				maxlength="5"
				class="py-2 px-3 w-full"
				[ngClass]="{ 'text-red-500': expiryError }"
			/>

			<input
				type="text"
				autocomplete="cvc"
				(input)="form.value.cvc = $event.target.value"
				placeholder="CVC"
				maxlength="3"
				class="py-2 px-3 w-full border-l border-gray-200"
			/>
		</div>
	</div>

	<div class="text-lg text-gray-600 mb-1">Name on Card</div>

	<div
		@slideInTop
		class="rounded-2xl border border-gray-200 w-full overflow-hidden shadow-md shadow-emerald-200/20 bg-white mb-10"
	>
		<div class="px-3">
			<input
				formControlName="name"
				type="text"
				autocomplete="name"
				(input)="form.value.name = $event.target.value"
				placeholder="John Doe"
				class="py-2 px-3 w-full"
			/>
		</div>
	</div>

	<button
		(click)="pay()"
		[ngClass]="{
			'bg-emerald-500 shadow-md shadow-emerald-500/20 px-4 py-6 hover:bg-emerald-600/90 ':
				!isProcessing,
			'bg-gray-400 pointer-events-none ': isProcessing
		}"
		mat-button
		class="text-xl font-medium rounded-ful items-center justify-center text-white w-full"
	>
		<spinner *ngIf="isProcessing"></spinner>

		<div *ngIf="!isProcessing">Pay</div>
	</button>
</form>
