<form
	[formGroup]="form"
	#ngForm="ngForm"
	class="p-5 md:px-20 md:pr-30 md:py-40 font-normal max-w-screen-sm"
>
	<div class="text-2xl accent-color mb-5">Pay with card</div>

	<div class="text-lg text-gray-600 mb-1">Contact Information</div>

	<div
		@slideInTop
		class="rounded-2xl border border-gray-200 w-full overflow-hidden shadow-md shadow-emerald-200/20 bg-white mb-10"
	>
		<div class="border-b border-b-gray-200 px-3">
			<input
				#input
				type="email"
				autocomplete="email"
				placeholder="johndoe@example.com"
				formControlName="email"
				class="py-2 px-3 w-full"
			/>
		</div>

		<div class="px-3">
			<mobile-number-form
				(onMobileNumberChange)="
					form.value.phone_number_one_country_code =
						$event.countryCode;
					form.value.phone_number_one = $event.phoneNumber
				"
				[bordered]="false"
				[rounded]="false"
				class="w-full"
			></mobile-number-form>
		</div>
	</div>

	<div class="text-lg text-gray-600 mb-1">Card Information</div>

	<div
		@slideInTop
		class="rounded-2xl border border-gray-200 w-full overflow-hidden shadow-md shadow-emerald-200/20 bg-white mb-10"
	>
		<div class="border-b border-b-gray-200 px-3">
			<card-number-form (onCardNumberChange)="(null)"></card-number-form>
		</div>

		<div class="px-5 grid grid-cols-2">
			<input
				#input
				type="text"
				autocomplete="card_expiry"
				placeholder="MM/YY"
				formControlName="email"
				mask="00/00"
				maxlength="5"
				class="py-2 px-3 w-full"
			/>

			<input
				#input
				type="text"
				autocomplete="cvc"
				placeholder="CVC"
				maxlength="3"
				formControlName="email"
				class="py-2 px-3 w-full border-l border-gray-200"
			/>
		</div>
	</div>

	<div class="text-lg text-gray-600 mb-1">Name on Card</div>

	<div
		@slideInTop
		class="rounded-2xl border border-gray-200 w-full overflow-hidden shadow-md shadow-emerald-200/20 bg-white mb-10"
	>
		<div class="px-3">
			<input
				type="text"
				autocomplete="name"
				placeholder="John Doe"
				formControlName="name"
				class="py-2 px-3 w-full"
			/>
		</div>
	</div>

	<div class="text-lg text-gray-600 mb-1">Country or Region</div>

	<div
		@slideInTop
		class="rounded-2xl border border-gray-200 w-full overflow-hidden shadow-md shadow-emerald-200/20 bg-white mb-10"
	>
		<div class="px-3">
			<country-form></country-form>
		</div>
	</div>

	<button
		(click)="pay()"
		mat-button
		class="bg-emerald-500 text-xl text-white/90 font-medium rounded-ful shadow-md shadow-emerald-500/20 px-4 py-6 hover:bg-emerald-600/90 items-center justify-center w-full"
	>
		Pay
	</button>
</form>
