<div
	class="min-h-screen w-full flex items-center justify-center relative bg-white py-20"
>
	<div
		class="max-w-screen-sm w-full flex items-center justify-center relative z-20"
	>
		<div class="w-full flex items-center justify-center flex-col">
			<div class="px-5 md:w-full">
				<div
					class="text-4xl font-bold mb-3 text-teal-500 text-center md:text-left"
				>
					Become a partner
				</div>

				<div
					class="mb-10 text-center md:text-left text-xl font-normal leading-snug text-gray-700"
				>
					Register your clinic, advertise your promotions & start
					tracking appointments from patients that use Mawedy mobile
					application.
				</div>
			</div>

			<partner-with-us-section1-first-step
				[emailErrors]="emailErrors"
				[phoneErrors]="phoneErrors"
				@slideInBottom
				class="w-full"
				(onNext)="register($event)"
				[isProcessing]="isProcessing"
				[focus$]="focus$"
			></partner-with-us-section1-first-step>
		</div>
	</div>
</div>
