<div
	class="w-full py-5 md:mt-[69px] flex items-center justify-center relative mb-20 md:mb-0"
>
	<img
		[ngClass]="{
			'resolve-mobile-img': (breakpoint$ | async) === 'phone'
		}"
		src="/assets/app/partner-with-us/partner.png"
		class="absolute top-0 z-0 object-fill w-screen h-full"
		alt="partner-with-us"
	/>

	<div class="relative z-20 flex items-center justify-center w-full">
		<div
			[ngClass]="{
				'pb-20  grid-cols-1':
					(breakpoint$ | async) === 'phone' ||
					(breakpoint$ | async) === 'tablet',
				'pb-20 md:grid-cols-2':
					(breakpoint$ | async) === 'laptop' ||
					(breakpoint$ | async) === 'desktop' ||
					(breakpoint$ | async) === 'max'
			}"
			class="grid w-full md:gap-x-20"
		>
			<div class="w-full"></div>

			<div @slideInRight class="w-full">
				<partner-with-us-form
					[isProcessing]="isProcessing"
					[focus$]="focus$"
					(onNext)="register($event)"
					[emailErrors]="emailErrors"
					[phoneErrors]="phoneErrors"
				></partner-with-us-form>
			</div>
		</div>
	</div>
</div>
