<div @slideInBottom class class="md:px-10 px-0 w-full pb-10">
	<div
		class="md:rounded-xl bg-white pr-0 w-full md:p-10 md:pl-0 overflow-hidden"
	>
		<div
			style="min-height: 70vh"
			class="flex flex-col items-center justify-center text-gray-400 text-3xl"
			*ngIf="closed"
		>
			<mat-icon
				class="ext-gray-300 icon-size-24 mb-5"
				svgIcon="block"
			></mat-icon>

			Clinic is Closed Every {{ date$ | async | date: 'EEEE' }}
		</div>

		<div
			*ngIf="!closed"
			style="border: 1px solid #cfdae8c7; border-top: 0; border-left: 0"
			class="md:rounded-md first"
		>
			<div class="text-center text-gray-500 my-3 text-2xl font-bold">
				{{ date$ | async | date: 'EEEE dd' }}
			</div>

			<div
				[ngClass]="{ first: timingIndex === 0 }"
				*ngFor="
					let timing of timings;
					let timingIndex = index;
					trackBy: trackByFn
				"
				class="grid grid-cols-8 col-span-8"
			>
				<div style="height: 70px" class="text-gray-400 text-right mr-5">
					{{ timing | toTwelve }}
				</div>

				<div class="relative w-full day col-span-7">
					<!-- line  -->
					<div
						stop-propagation
						*ngIf="timingIndex === 2"
						class="absolute col-span-8 w-full right-0 translate-y-2 z-10 flex items-center"
					>
						<div
							matTooltip="Time today: 1 PM"
							class="circle rounded-full translate-y-6"
						></div>
						<div
							style="height: 1.5px"
							class="circle w-full bg-emerald-500 translate-y-6"
						></div>
					</div>
					<!-- line  -->
					<calendar-item-day
						[date]="date$ | async"
						[time]="timing"
						stop-propagation
					></calendar-item-day>
				</div>
			</div>
		</div>
	</div>
</div>
