<home-navbar></home-navbar>

<div class="min-h-screen flex items-center justify-center w-full">
	<div class="w-full max-w-screen-sm flex items-center justify-center">
		<forgot-password-form1
			*ngIf="!validated && otp_id === ''"
			(onSuccess)="resolveSuccess($event)"
			class="w-full flex flex-col justify-center items-center"
		></forgot-password-form1>

		<forgot-password-form2
			[email]="email"
			[otp_id]="otp_id"
			[throttle$]="throttle$"
			*ngIf="validated && otp_id !== '' && email !== ''"
			class="w-full flex flex-col justify-center items-center"
		></forgot-password-form2>
	</div>
</div>

<footer></footer>
