<div
	@slideInBottom
	*ngIf="breakpoint$ | async as breakpoint"
	class="relative flex justify-center w-full md:py-20"
>
	<div
		[ngClass]="{ 'max-w-screen-sm mt-[69px]': breakpoint === 'tablet' }"
		class="relative z-20 flex items-center justify-center w-full max-w-screen-md"
	>
		<div
			[ngClass]="{
				'pb-20': breakpoint === 'tablet',
				'px-10': breakpoint === 'phone'
			}"
			class="grid grid-cols-1 md:grid-cols-2 md:gap-x-20"
		>
			<div>
				<div
					[ngClass]="{
						'mt-20': (breakpoint$ | async) === 'phone'
					}"
					class="my-3 text-2xl font-black md:text-6xl text-emerald-500"
				>
					Who we are
				</div>

				<div
					class="text-gray-600 text-md md:font-normal md:pr-10"
					style="line-height: 1.8rem"
				>
					Mawedy is the premier solution to offer a comprehensive
					communication channel that makes it easier for patients to
					book their appointment quick and easy. We know how difficult
					it can be to manage patient bookings appropriately and
					that’s why Mawedy is here to assist. Not only that, but you
					will also never miss out on any clinical offers and register
					for membership to get free or discounted services! With
					Mawedy it becomes a lot easier for any patient to book the
					necessary service at their preferred clinic. You can easily
					pick the clinic you want, the doctor you want to visit and
					select the desired time and date as you see fit.
				</div>
			</div>

			<div class="mt-10 scale-108 md:scale-100">
				<img
					alt="About Us"
					src="/assets/app/about-us/section-1-icon.svg"
					class="object-contain"
				/>
			</div>
		</div>
	</div>
</div>
