<div
	*ngIf="subscription$ | async as subscription"
	[ngClass]="{ 'min-h-screen': (breakpoint$ | async) !== 'tablet' }"
	class="w-full flex items-center justify-center relative py-20"
>
	<div
		class="max-w-screen-xl w-full items-center justify-center relative z-20 grid grid-cols-1 md:grid-cols-2 mt-20"
	>
		<div>
			<div
				*ngIf="interval$ | async as interval"
				class="border border-gray-200 bg-gray-100 p-10 rounded-3xl w-full"
			>
				<div class="text-5xl font-extrabold text-emerald-500">
					{{ subscription.type }}
				</div>

				<div class="mb-5 accent-color text-2xl font-bold">
					{{ subscription.price | number }} AED /
					{{ interval | titlecase }}
				</div>

				<div
					class="text-left my-2 accent-color self-start text-lg font-bold"
				>
					Features
				</div>

				<ul
					[@listAnimation]="subscription.features.length"
					class="grid grid-cols-2 gap-x-10"
				>
					<li
						class="text-gray flex items-center py-2 w-full"
						*ngFor="
							let item of subscription.features;
							trackBy: identity
						"
					>
						<mat-icon
							class="mr-3 text-emerald-500"
							svgIcon="check"
						></mat-icon>

						{{ item }}
					</li>
				</ul>
			</div>

			<div class="flex items-center mt-10 text-2xl font-normal">
				<div>{{ subscription.name }}</div>

				<div class="ml-auto">{{ subscription.price | number }} AED</div>
			</div>

			<div class="flex items-center mt-2 text-2xl font-normal">
				<div>
					<span class="text-emerald-500"
						>{{ subscription.users }} Free users
					</span>
					<div class="flex items-center">
						{{ additionalUsers }} Additional users

						<div class="flex items-center ml-10">
							<button
								(click)="
									additionalUsers =
										additionalUsers === 0
											? 0
											: additionalUsers - 1
								"
								mat-icon-button
								matTooltip="Remove User"
							>
								<mat-icon
									maticc
									svgIcon="heroicons_outline:minus"
								></mat-icon>
							</button>

							<input
								type="number"
								[(ngModel)]="additionalUsers"
								style="
									min-height: 36px;
									min-width: 36px;
									max-width: 50px;
								"
								class="p-3 items-center justify-center flex border border-emerald-500 rounded-md mx-1 text-lg font-bold accent-color text-center"
							/>

							<button
								(click)="additionalUsers = additionalUsers + 1"
								mat-icon-button
								matTooltip="Add user"
							>
								<mat-icon
									svgIcon="heroicons_outline:plus"
								></mat-icon>
							</button>
						</div>
					</div>
				</div>

				<div class="ml-auto flex flex-col mt-10">
					<div class="text-right">
						{{
							additionalUsers * PRICE_PER_USER * billMultiplier
								| number
						}}
						AED
					</div>
					<div
						*ngIf="billMultiplier === 12"
						class="text-sm ml-3 text-right"
					>
						( Additional Users x

						{{ PRICE_PER_USER | number }} AED ) x 12 Months
					</div>
				</div>
			</div>

			<mat-divider class="my-5 border-gray-300"></mat-divider>

			<div class="flex items-center mt-2 text-2xl font-normal">
				<div class="ml-auto">Total Amount</div>

				<div class="ml-10 font-bold accent-color">
					{{
						subscription.price +
							additionalUsers * PRICE_PER_USER * billMultiplier
							| number
					}}
					AED
				</div>
			</div>
		</div>

		<div class="px-5 md:p-10 items-start md:-translate-y-20">
			<button
				@fadeOutBottom
				@slideInRight
				*ngIf="hasLoggedIn$ | async"
				(click)="toCheckOut()"
				class="text-white animate-pulse hover:bg-emerald-600 font-bold text-lg bg-emerald-500 px-10 py-4 rounded-lg ml-auto w-full uppercase flex items-center justify-center"
			>
				<div>Proceed to CheckOut</div>
			</button>

			<landing-subscription-section1-form
				*ngIf="!(hasLoggedIn$ | async)"
				(onNext)="register($event)"
				[isProcessing]="isProcessing"
			></landing-subscription-section1-form>
		</div>
	</div>
</div>
