<div
	[ngClass]="{
		' translate-y-20 px-5': (breakpoint$ | async) === 'phone'
	}"
	class="flex flex-col items-center justify-center"
>
	<div
		[ngClass]="{
			'bg-white': (breakpoint$ | async) !== 'phone',
			'bg-white/90': (breakpoint$ | async) === 'phone'
		}"
		class="max-w-screen-sm px-5 py-10 rounded-xl drop-shadow"
	>
		<div class="text-2xl font-black text-center text-emerald-500">
			Partner with us!
		</div>

		<div class="mb-2 font-normal text-center text-gray-500 text-md">
			Get a free trial for 1 year!
		</div>

		<form [formGroup]="form" class="md:w-full">
			<mat-form-field class="w-full">
				<mat-label>Clinic Name</mat-label>
				<input matInput formControlName="name" />
				<mat-error>Clinic Name is required</mat-error>
			</mat-form-field>

			<mat-form-field class="w-full">
				<mat-label>Email Address</mat-label>
				<input matInput formControlName="email" />
				<mat-error>Invalid Email Format</mat-error>
			</mat-form-field>

			<div class="flex flex-col w-full mt-3">
				<div class="w-[134px] mr-3 -translate-y-3">Country*</div>

				<div class="w-full">
					<country-form-field
						name="country"
						placeholder="Select Country"
						[form]="form"
						(onChangeCity)="changeCities($event)"
					></country-form-field>
				</div>
			</div>

			<mat-form-field class="w-full">
				<mat-label>City</mat-label>
				<mat-select formControlName="city" placeholder="Select City">
					<mat-option
						[value]="city"
						*ngFor="let city of cities; trackBy: trackByFn"
					>
						{{ city }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field class="w-full">
				<mat-label>Clinic Address</mat-label>
				<input matInput formControlName="line1" />
				<mat-error>Clinic Address is required</mat-error>
			</mat-form-field>

			<mat-form-field class="w-full">
				<mat-label>Zip/Postal Code</mat-label>
				<input matInput formControlName="postal_code" />
				<mat-error>Zip/Postal Code is required</mat-error>
			</mat-form-field>

			<div class="mb-3">
				<div class="text-gray-500">Mobile Number*</div>

				<div class="">
					<input type="hidden" formControlName="phone_number_one" />

					<input
						type="hidden"
						formControlName="phone_number_one_country_code"
					/>

					<mobile-number-form
						(onMobileNumberChange)="
							handleMobileNumberChange($event)
						"
						[phoneNumber]="form.value.phone_number_one"
						[phoneErrors]="phoneErrors"
						[bordered]="true"
						[rounded]="true"
						class="w-full"
					></mobile-number-form>
				</div>
			</div>

			<input
				accept="image/*"
				(change)="setTradeLicense($event)"
				type="file"
				#tradeLicense
				class="hidden"
			/>

			<div class="flex items-center mt-5 mb-3">
				<div class="mb-1 text-sm text-gray-500 md:text-base">
					Trade License No.
				</div>

				<button
					(click)="tradeLicense.click()"
					class="px-10 py-2 ml-auto text-sm text-white border rounded-lg bg-emerald-400 md:text-base hover:bg-emerald-500"
				>
					{{ filename === '' ? 'Upload Docs' : 'Change Docs' }}
				</button>
			</div>

			<div class="mt-2 text-sky-500">{{ filename }}</div>

			<div class="flex w-full mt-5">
				<button
					@slideInRight
					@fadeOutBottom
					(click)="next()"
					*ngIf="step !== 'two'"
					class="flex items-center justify-center w-full px-10 py-2 mt-10 ml-auto text-base text-white bg-sky-500 hover:bg-sky-600 md:py-4 rounded-xl"
				>
					<spinner *ngIf="isProcessing"></spinner>

					<div *ngIf="!isProcessing">Continue</div>
				</button>
			</div>
		</form>
	</div>
</div>
