<div
	[ngClass]="{
		' translate-y-20 px-5': (breakpoint$ | async) === 'phone'
	}"
	class="flex flex-col items-center justify-center"
>
	<div
		[ngClass]="{
			'bg-white': (breakpoint$ | async) !== 'phone',
			'bg-white/90': (breakpoint$ | async) === 'phone'
		}"
		class="max-w-screen-sm px-5 py-10 rounded-xl drop-shadow"
	>
		<div class="text-2xl font-black text-center text-emerald-500">
			Partner with us!
		</div>

		<div class="mb-2 font-normal text-center text-gray-500 text-md">
			Get a free trial for 1 year!
		</div>

		<form [formGroup]="form" class="md:w-full">
			<mat-form-field class="w-full">
				<mat-label>Clinic Name</mat-label>
				<input matInput formControlName="name" />
				<mat-error>Clinic Name is required</mat-error>
			</mat-form-field>

			<mat-form-field class="w-full">
				<mat-label>Clinic Address</mat-label>
				<input matInput formControlName="address" />
				<mat-error>Clinic Address is required</mat-error>
			</mat-form-field>

			<mat-form-field class="w-full">
				<mat-label>Email Address</mat-label>
				<input matInput formControlName="email" />
				<mat-error>Invalid Email Format</mat-error>
			</mat-form-field>

			<div class="mb-3">
				<div class="text-gray-500">Mobile Number*</div>

				<div class="">
					<input type="hidden" formControlName="phone_number_one" />

					<input
						type="hidden"
						formControlName="phone_number_one_country_code"
					/>

					<mobile-number-form
						(onMobileNumberChange)="
							handleMobileNumberChange($event)
						"
						[phoneNumber]="form.value.phone_number_one"
						[phoneErrors]="phoneErrors"
						[bordered]="true"
						[rounded]="true"
						class="w-full"
					></mobile-number-form>
				</div>
			</div>

			<input
				accept="image/*"
				(change)="setTradeLicense($event)"
				type="file"
				#tradeLicense
				class="hidden"
			/>

			<div class="flex items-center mt-5 mb-3">
				<div class="mb-1 text-sm text-gray-500 md:text-base">
					Trade License No.
				</div>

				<button
					(click)="tradeLicense.click()"
					class="px-10 py-2 ml-auto text-sm text-white border rounded-lg bg-emerald-400 md:text-base hover:bg-emerald-500"
				>
					{{ filename === '' ? 'Upload Docs' : 'Change Docs' }}
				</button>
			</div>

			<div class="mt-2 text-sky-500">{{ filename }}</div>

			<div class="flex w-full mt-5">
				<button
					@fadeOutBottom
					@slideInRight
					[disabled]="!form.valid || filename === '' || isProcessing"
					[ngClass]="{
						'bg-sky-500 hover:bg-sky-600':
							form.valid && filename !== '' && !isProcessing,
						'bg-gray-400 pointer-events-none':
							!form.valid || filename === '' || isProcessing
					}"
					*ngIf="step !== 'two'"
					(click)="
						onNext.emit({ form: form, trade_license_photo: file })
					"
					class="flex items-center justify-center w-full px-10 py-2 mt-10 ml-auto text-base text-white md:py-4 rounded-xl"
				>
					<spinner *ngIf="isProcessing"></spinner>

					<div *ngIf="($isInSubscription | async) && !isProcessing">
						Purchase Now
					</div>

					<div *ngIf="!isProcessing && !($isInSubscription | async)">
						Register
					</div>
				</button>
			</div>
		</form>
	</div>
</div>
