<div
	*ngIf="opened$ | async"
	stop-propagation
	class="ml-auto h-full w-full md:w-1/4"
	style="min-width: 500px"
>
	<div
		class="px-10 py-5 flex flex-col items-center justify-center bg-zinc-200/50 backdrop-blur-md overflow-hidden"
		style="height: calc(100vh)"
	>
		<div @fadeInBottom class="container-doctor w-full overflow-x-hidden">
			<div
				stop-propagation
				class="w-full flex px-5 py-5 items-center"
				style="background: #f7f8fa"
			>
				<div class="font-extrabold text-xl accent-color">
					Select Doctor
				</div>
			</div>

			<div class="search-container flex items-center my-5 mx-5">
				<mat-icon
					class="text-gray-400 mr-4"
					svgIcon="feather:search"
				></mat-icon>

				<input
					#input
					[(ngModel)]="keyword"
					type="search"
					class="w-full font-thin"
					placeholder="Search by doctor, departments"
				/>
			</div>

			<div
				@expandCollapse
				style="height: 520px"
				class="overflow-y-auto overflow-x-hidden"
			>
				<div
					[ngClass]="{
						'pointer-events-none border-l-emerald-500 border-l-4 bg-emerald-50':
							doctor.id === (doctor$ | async)?.id
					}"
					matTooltip="Select This Doctor"
					(click)="opened$.next(false); doctor$.next(doctor)"
					role="button"
					*ngFor="
						let doctor of doctors$ | async | filter: keyword;
						trackBy: trackByFn
					"
				>
					<div class="border-t border-gray-100 rounded-sm doctor">
						<div class="name">{{ doctor.name }}</div>
						<div class="profession">
							{{ doctor.profession }} .
							{{ doctor.experience }} Years
						</div>
					</div>
				</div>
			</div>

			<div class="footer w-full items-center flex">
				<button
					(click)="opened$.next(false)"
					class="ml-auto hover:bg-emerald-50 rounded-xl px-7 py-2.5 font-bold border-2 border-emerald-500 text-emerald-500 mr-3"
				>
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>
