<div class="md:px-10 px-0 w-full">
	<div style="height: 70vh" class="md:rounded-xl bg-white px-5 pr-0 w-full">
		<div class="flex flex-col flex-auto overflow-x-auto h-full bg-white">
			<table class="min-w-240 overflow-y-visible mt-4">
				<thead style="height: 42px" class="sticky top-0 bg-white pt-4">
					<tr class="text-gray-400 border-b border-b-gray-100">
						<th>Name</th>
						<th>Age</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Address</th>
						<th>Profile</th>
					</tr>
				</thead>
				<tbody [@listAnimation]="patients.length">
					<tr
						style="height: 60px"
						class="accent-color font-semibold border-b border-b-gray-100 hover:bg-gray-50"
						*ngFor="let patient of patients"
					>
						<td>
							{{ patient.first_name }} {{ patient.middle_name }}
							{{ patient.last_name }}
						</td>
						<td>{{ patient.birth_day | age }}</td>
						<td>{{ patient.email }}</td>
						<td>
							<a
								role="button"
								target="_blank"
								class="underline hover:text-emerald-500 text-center"
								[href]="
									'https://wa.me/' + patient.phone_number
										| remove_white_space_and_dash
								"
							>
								{{ patient.phone_number }}</a
							>
						</td>

						<td>{{ patient.address }}</td>
						<td>
							<button
								(click)="viewPatient(patient)"
								class="py-1.5 px-5 text-white bg-emerald-500 rounded-md hover:bg-emerald-600"
							>
								View
							</button>

							<button
								(click)="remove(patient)"
								class="py-1.5 px-5 text-white bg-rose-500 rounded-md hover:bg-rose-600 ml-3"
							>
								Delete
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="flex items-center">
			<pagination
				*ngIf="paginatedData$ | async as table"
				@expandCollapse
				class="ml-auto min-w-3/4"
				[items]="table.meta.links"
				[active]="table.meta.current_page"
				[table]="table"
				(onPageChange)="paginate($event)"
			></pagination>
		</div>
	</div>
</div>
