<div class="fixed w-full text-black bg-white z-49">
	<div
		class="flex items-center justify-start w-full"
		style="transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1)"
	>
		<div
			class="flex items-center justify-start w-full px-5 font-medium max-w-screen-2xl"
		>
			<div
				class="flex items-start justify-start w-20 mr-auto"
				(click)="showNav$.next(false)"
				routerLink="/"
			>
				<img
					src="/assets/app/logo.svg"
					class="mr-auto h-15"
					alt="Mawedy Logo"
				/>
			</div>

			<div
				(click)="showNav$.next(true)"
				class="flex items-center justify-center px-4 py-2 ml-auto rounded-full"
				@fadeInRight
				*ngIf="!(showNav$ | async)"
			>
				<mat-icon
					class="icon-size-5 accent-color"
					svgIcon="feather:menu"
				></mat-icon>
			</div>

			<div
				(click)="showNav$.next(false)"
				class="ml-auto"
				@fadeInRight
				*ngIf="showNav$ | async"
			>
				<mat-icon
					class="icon-size-8 accent-color"
					svgIcon="feather:x"
				></mat-icon>
			</div>
		</div>
	</div>

	<div
		*ngIf="showNav$ | async"
		@slideInBottom
		@slideOutBottom
		class="block w-full min-h-screen z-100 backdrop-blur-md"
		style="animation-duration: 0.4s"
	>
		<ul class="px-8 text-xl font-light">
			<li
				[class.hidden]="nav.name === 'AR'"
				[routerLink]="nav.link"
				(click)="showNav$.next(false)"
				class="flex items-center py-3 text-2xl tracking-wider border-b border-zinc-100 accent-color"
				*ngFor="
					let nav of navigation;
					let i = index;
					trackBy: trackByFn
				"
			>
				<div>{{ nav.name }}</div>

				<div class="ml-auto">
					<mat-icon
						class="text-gray-400"
						svgIcon="heroicons_solid:chevron-right"
					></mat-icon>
				</div>
			</li>
		</ul>
	</div>
</div>
