<div class="w-full fixed text-black z-49 bg-white">
	<div
		class="items-center flex justify-start w-full"
		style="transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1)"
	>
		<div
			class="max-w-screen-2xl w-full font-medium px-5 flex items-center justify-start"
		>
			<div
				class="flex items-start justify-start mr-auto w-20"
				(click)="showNav$.next(false)"
				routerLink="/"
			>
				<img
					src="/assets/app/logo.svg"
					class="h-20 mr-auto"
					alt="Mawedy Logo"
				/>
			</div>

			<div
				(click)="showNav$.next(true)"
				class="ml-auto px-4 py-2 rounded-full bg-emerald-400/40 flex items-center justify-center"
				@fadeInRight
				*ngIf="!(showNav$ | async)"
			>
				<mat-icon
					class="icon-size-5 text-emerald-700"
					svgIcon="feather:menu"
				></mat-icon>
			</div>

			<div
				(click)="showNav$.next(false)"
				class="ml-auto"
				@fadeInRight
				*ngIf="showNav$ | async"
			>
				<mat-icon
					class="icon-size-8 accent-color"
					svgIcon="feather:x"
				></mat-icon>
			</div>
		</div>
	</div>

	<div
		*ngIf="showNav$ | async"
		@slideInBottom
		@slideOutBottom
		class="w-full z-100 block backdrop-blur-md min-h-screen"
		style="animation-duration: 0.4s"
	>
		<ul class="px-8 text-xl font-light">
			<li
				[class.hidden]="nav.name === 'AR'"
				[routerLink]="nav.link"
				(click)="showNav$.next(false)"
				class="py-3 border-b border-zinc-100 tracking-wider text-2xl font-medium accent-color flex items-center"
				*ngFor="let nav of navigation; let i = index"
			>
				<div>{{ nav.name }}</div>

				<div class="ml-auto">
					<mat-icon
						class="accent-color"
						svgIcon="heroicons_solid:chevron-right"
					></mat-icon>
				</div>
			</li>
		</ul>
	</div>
</div>
