<div
	role="button"
	[matMenuTriggerFor]="patientsFilter"
	style="width: 219px"
	class="ml-5 flex items-center py-1.5 px-4 rounded-md border border-gray-300/80 cursor-pointer hover:bg-gray-50"
>
	<input
		role="button"
		type="search"
		class="w-full pointer-events-none"
		placeholder="Filter"
	/>

	<mat-icon class="ml-auto text-gray-400" svgIcon="feather:filter"></mat-icon>
</div>

<mat-menu [xPosition]="'before'" #patientsFilter="matMenu" class="rounded-md">
	<div class="flex items-center px-10 py-3 border-b border-green-200">
		<div class="bold">Filters</div>

		<div class="ml-auto">
			<mat-icon svgIcon="feather:filter"></mat-icon>
		</div>
	</div>

	<button
		[ngClass]="{ 'bg-gray-100': filter.status === 'Confirmed' }"
		(click)="filter.status = 'Confirmed'"
		stop-propagation
		class="flex items-center"
		mat-menu-item
	>
		<dashboard-status class="mr-2" [color]="'green'"></dashboard-status>

		<span>Confirmed</span>
	</button>

	<button
		[ngClass]="{ 'bg-gray-100': filter.status === 'Cancelled' }"
		(click)="filter.status = 'Cancelled'"
		stop-propagation
		class="flex items-center"
		mat-menu-item
	>
		<dashboard-status class="mr-2" [color]="'red'"></dashboard-status>

		<span>Cancelled</span>
	</button>

	<button
		[ngClass]="{ 'bg-gray-100': filter.status === 'Done' }"
		(click)="filter.status = 'Done'"
		stop-propagation
		class="flex items-center"
		mat-menu-item
	>
		<dashboard-status class="mr-2" [color]="'blue'"></dashboard-status>

		<span>Done</span>
	</button>

	<mat-divider class="my-2 mb-5"></mat-divider>

	<div stop-propagation class="flex-col px-5 mt-5">
		<mat-form-field class="w-full">
			<mat-label>Date Range Filter</mat-label>

			<mat-date-range-input [rangePicker]="picker">
				<input
					matStartDate
					placeholder="Start date"
					[(ngModel)]="filter.from"
				/>
				<input
					matEndDate
					placeholder="End date"
					[(ngModel)]="filter.to"
				/>
			</mat-date-range-input>

			<mat-datepicker-toggle
				matSuffix
				[for]="picker"
			></mat-datepicker-toggle>

			<div class="bg-gray-200">
				<mat-date-range-picker #picker></mat-date-range-picker>
			</div>
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Department</mat-label>
			<mat-select
				(click)="setMedicalServices($event.target.value)"
				[(ngModel)]="filter.department_id"
			>
				<mat-option value="">All</mat-option>
				<mat-option
					[value]="department.id"
					*ngFor="
						let department of (departments$ | async).entities
							| entities;
						trackBy: trackByFn
					"
				>
					{{ department.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-label>Doctor</mat-label>
			<mat-select [(ngModel)]="filter.doctor_id">
				<mat-option value="">All</mat-option>

				<mat-option
					[value]="doctor.id"
					*ngFor="let doctor of doctors; trackBy: trackByFn"
				>
					{{ doctor.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field class="w-full">
			<mat-select [(ngModel)]="filter.service_id">
				<mat-label>Service</mat-label>

				<mat-option value="">All</mat-option>

				<mat-option
					[value]="service.id"
					*ngFor="let service of medicalServices; trackBy: trackByFn"
				>
					{{ service.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div class="flex-col px-5 mt-5 mb-5">
		<button
			(click)="onFilter()"
			matRipple
			matRippleColor="rgba(11, 169, 118,.3)"
			mat-menu-item
			class="flex items-center justify-center text-center border rounded-md bg-emerald-300 hover:bg-emerald-400 border-emerald-900 text-emerald-900"
		>
			<span>Apply Filter</span>
		</button>

		<button
			(click)="onReset()"
			matRipple
			matRippleColor="rgba(11, 169, 118,.3)"
			mat-menu-item
			class="flex items-center justify-center text-center text-gray-900 rounded-md bg-gray-50 hover:bg-gray-100"
		>
			<span>Reset Filter</span>
		</button>
	</div>
</mat-menu>
