<div
	class="flex flex-col items-center justify-center w-full py-10 bg-gray-200/40"
>
	<div class="text-3xl font-extrabold text-center">Plans and Pricing</div>

	<div class="px-20 font-medium text-center text-gray-600">
		Start small and free upgrade as you go. Take control of everything.
	</div>

	<div
		style="width: 300px"
		class="grid grid-cols-2 my-10 overflow-hidden border border-emerald-500 rounded-xl h-[45px]"
	>
		<button
			(click)="billing$.next(item)"
			[ngClass]="{
				'bg-emerald-500 text-white pointer-events-none  h-full':
					(billing$ | async) === item,
				'text-gray-700 bg-white': (billing$ | async) !== item
			}"
			class="md:hover:bg-emerald-50 md:hover:text-emerald-800"
			*ngFor="let item of billings; trackBy: identity"
		>
			{{ item | titlecase }} Plan
		</button>
	</div>

	<div
		[@listAnimation]="3"
		*ngIf="billing$ | async as billing"
		class="grid items-center justify-center max-w-screen-lg grid-cols-3 text-center md:hidden mb-15"
	>
		<div
			[class.hidden]="!subscription[billing]"
			*ngFor="let subscription of mawedySubscriptions; trackBy: identity"
		>
			<button
				matRipple
				*ngIf="subscription[billing]"
				class="p-2 px-5 rounded-full"
				matRippleColor="rgba(150, 150, 150,.2)"
				(click)="currentType = subscription[billing]?.type"
				[ngClass]="{
					'accent-color': currentType !== subscription[billing]?.type,
					'text-emerald-500':
						currentType === subscription[billing]?.type
				}"
			>
				<div class="text-xl font-bold">
					{{ subscription[billing]?.type }}
				</div>
			</button>
		</div>
	</div>

	<div
		*ngIf="billing$ | async as billing"
		[@listAnimation]="3"
		class="grid items-start justify-start w-full max-w-screen-lg grid-cols-1 px-5 mt-10 md:grid-cols-3 gap-x-10"
	>
		<div
			@zoomIn
			@zoomOut
			[class.hidden]="!subscription[billing]"
			*ngFor="let subscription of mawedySubscriptions"
		>
			<home-section3-pricing
				*ngIf="subscription[billing]"
				[ngClass]="{
					hidden:
						(breakpoint$ | async) === 'phone' &&
						currentType !== subscription[billing]?.type
				}"
				[interval]="billing"
				[subscription]="subscription[billing]"
			></home-section3-pricing>
		</div>
	</div>
</div>
