<div
	class="relative flex flex-col items-center justify-center w-full min-h-screen pt-10 md:py-20 bg-gray-50/40"
>
	<div class="text-6xl font-extrabold text-center text-gray-700 md:mt-40">
		Plans and Pricing
	</div>

	<div class="px-20 text-xl font-medium text-center text-gray-700">
		Start small and free upgrade as you go. Take control of everything.
	</div>

	<div
		style="width: 300px"
		class="grid grid-cols-2 my-10 overflow-hidden border border-emerald-500 rounded-xl"
	>
		<button
			(click)="billing$.next(item)"
			style="height: 50px"
			[ngClass]="{
				'bg-emerald-500 text-white pointer-events-none  ':
					(billing$ | async) === item,
				'text-gray-400 bg-white': (billing$ | async) !== item
			}"
			class="font-medium md:hover:bg-emerald-50 md:hover:text-emerald-800"
			*ngFor="let item of billings; trackBy: identity"
		>
			{{ item | titlecase }} Plan
		</button>
	</div>

	<div
		[@listAnimation]="3"
		*ngIf="billing$ | async as billing"
		class="grid items-center justify-center grid-cols-3 text-center md:hidden mb-15"
	>
		<div
			[class.hidden]="!subscription[billing]"
			*ngFor="let subscription of mawedySubscriptions; trackBy: identity"
		>
			<button
				*ngIf="subscription[billing]"
				(click)="currentType = subscription[billing]?.type"
				matRipple
				[ngClass]="{
					'accent-color': currentType !== subscription[billing]?.type,
					'text-emerald-500':
						currentType === subscription[billing]?.type
				}"
				matRippleColor="rgba(150, 150, 150,.2)"
				class="p-2 px-5 rounded-full"
			>
				<div class="text-2xl font-bold">
					{{ subscription[billing]?.type }}
				</div>
			</button>
		</div>
	</div>

	<div
		*ngIf="billing$ | async as billing"
		[@listAnimation]="3"
		class="grid items-start justify-start max-w-screen-xl grid-cols-1 px-5 md:grid-cols-3 gap-x-20 md:mt-20"
	>
		<div
			@zoomIn
			@zoomOut
			[class.hidden]="!subscription[billing]"
			*ngFor="let subscription of mawedySubscriptions"
		>
			<home-section3-pricing
				*ngIf="subscription[billing]"
				[ngClass]="{
					hidden:
						(breakpoint$ | async) === 'phone' &&
						currentType !== subscription[billing]?.type
				}"
				[interval]="billing"
				[subscription]="subscription[billing]"
			></home-section3-pricing>
		</div>
	</div>
</div>
