<nav class="flex items-center justify-center fixed bg-white z-50 w-full">
	<div class="w-full max-w-screen-xl flex items-center justify-center">
		<img
			class="h-20 max-w-50"
			src=".../../../../../../../assets/app/logo.svg"
			alt=""
		/>

		<ul class="ml-auto flex">
			<li
				*ngFor="let nav of navigation"
				[routerLink]="nav.link"
				role="button"
				class="px-5 mr-10 hover:underline text-emerald-500"
			>
				{{ nav.name }}
			</li>
			<li>
				<img
					class="h-7 -translate-x-12 -translate-y-1"
					src="../../../../../assets/app/uae.icon.png"
					alt="UAE Icon"
				/>
			</li>
		</ul>
	</div>
</nav>
